[2011-02-16 19:01] malcook opened #3 "resources pointed to by .url files are always imported as csv"
nuff sed

[2011-03-15 12:35] #3 closed, assigned to nobody

[2013-01-23 12:55] haven-jeon opened #9 "test.project() does not work properly with stub.test()"
test_dir() works only for file name with "test-*.r" when default option.

I expect, "stub.test()" needs to be modified to produce file name like this "test-autogenerated.r"

[2013-05-05 09:51] cpfaff opened #11 "R-Yaml (Idea)"
Use R yaml to read configuration.

https://github.com/viking/r-yaml

[2013-05-05 13:24] #11 closed, assigned to nobody

[2013-09-24 22:23] nacnudus opened #13 "could not find function "cache.name""
[code]

[2013-12-10 15:42] #9 closed, assigned to nobody

[2013-12-12 05:53] krlmlr opened #22 "CRAN release"
- Just the current stuff
- New maintainers

[2013-12-12 05:54] krlmlr opened #23 "Push website to gh-pages via git subtree"
So that projecttemplate.net can be redirected to GitHub pages.

[2013-12-12 11:24] krlmlr opened #24 "DNS redirect to GitHub Pages"
As requested. The pages are now at

http://johnmyleswhite.github.io/ProjectTemplate/

and will be updated when they change.

How do I convert from Markdown to HTML?

Also relevant perhaps:
- https://help.github.com/articles/setting-up-a-custom-domain-with-pages
- https://help.github.com/articles/custom-404-pages

[2013-12-16 23:32] #23 closed, assigned to krlmlr

[2013-12-17 19:45] KentonWhite opened #26 "Migrate from library() to require.package()"
Most internal code uses `library()` to load packages when required. Using `require()` inside functions is preferred. Created a helper function `require.package()` to load packages as needed and display a more helpful error message, including which function is trying to load the package, which package was being loaded, and instructions for installing the missing package.

Internal code should be mo

[2013-12-17 19:55] #13 closed, assigned to nobody

[2013-12-28 21:07] krlmlr opened #27 "Autogenerate list of changes on the website"
https://github.com/johnmyleswhite/ProjectTemplate/pull/25#issuecomment-31282851

This might mean to transform `ChangeLog` to `NEWS.md`. Logic to transform the latter to an R `NEWS` file can be stolen from e.g. the `knitr` package.

[2013-12-28 21:08] krlmlr opened #28 "Autogenerate list of sections"
https://github.com/johnmyleswhite/ProjectTemplate/pull/25#issuecomment-31278609

Currently it's a static HTML list. Now possible with Jekyll.

[2014-01-17 22:52] #24 closed, assigned to johnmyleswhite

[2014-01-22 19:09] KentonWhite opened #30 "Use Environment variables for sensitive information"
Some of the readers, like the SQL readers, require password information. Currently this is stored directly in the data file. Storing passwords in files is a security risk -- they can be checked into repositories or made accessible to the public.

Other communities use environment variables to store sensitive information. Can you do this in ProjectTemplate?

[2014-02-04 09:03] krlmlr opened #31 "create.project() should be able to create a project in an existing directory"
Perhaps allow setting up a Git repository and/or auto-commit to Git

[2014-02-04 12:53] krlmlr opened #32 "State of project.info$cache and $data when dataset variable exists"
In `load.project()`, datasets are not added to the `cache` and `data` members of `project.info` if they already exist in the global environment. I wonder if this is by design.

Steps to reproduce:
1. Create empty project using `create.project("test")`.
2. Add `test.csv` with the following contents to the `data` directory:

[code]
3. Run supplied script `src/eda.R` -- the test dataset is printed
4.

[2014-02-05 11:18] krlmlr opened #33 "Use more modular tests"
Use the `test_that` function as supported by the `testthat` package; store tests in `tests/testthat`.

[2014-02-05 14:51] krlmlr opened #35 "Optionally, create.project() should create dummy files in empty directories"
So that Git does not ignore the empty directories. This would also fix warnings during `R CMD build`.

[2014-02-05 22:29] krlmlr opened #36 "Replace `minimal` with `template.name` in create.project()"
The parameter `minimal` should be replaced by a parameter `template.name = c("full", "minimal")` to allow adding other templates.

Website documentation has to be updated.

[2014-02-10 10:34] krlmlr opened #39 "Deprecate project.info"
Should be a function instead, there seems to be no obvious way to fix the NOTEs fired during CRAN checks.

To make sure transition is as painless as possible, we could say something like

[code]

and later replace the `warning` by a `stop`.

[2014-02-10 10:51] krlmlr opened #40 "Fix Authors@R in DESCRIPTION"
Also add GitHub issues URL.

The person who releases to CRAN should be primary maintainer.

[2014-02-10 14:17] krlmlr opened #41 "Make sure building works without --keep-empty-dirs"
Too easy to forget.

Options:
- Add `DUMMY` files (instead of `.gitignore` which get stripped off during building)
- Store templates as a tar

~~Closes #48.~~

[2014-02-10 15:13] krlmlr opened #42 "Integrate with packrat and/or rbundler"
The idea is to create a package repository and library exclusively for the project, to support true reproducible research.

rbundler is on CRAN, packrat supports GitHub. Tricky decision...

[2014-02-10 21:04] krlmlr opened #43 "Merge/adopt changes from other people's repositories"
https://github.com/johnmyleswhite/ProjectTemplate/network

[2014-02-10 21:19] #31 closed, assigned to nobody

[2014-02-11 11:48] krlmlr opened #44 "Support cache(dataset) in addition to cache("dataset")"
For the lazy among us...

[2014-02-15 20:03] krlmlr opened #46 "Integrate with packrat"
- [ ] Provide an option to initialize a project with `packrat` support
- [ ] Call `packrat::status()` during `load.project()`
- [ ] Write dummy `.R` file for all libraries that are loaded from the configuration file (unless it's possible to turn off code scanning in `packrat`)
- [x] Wait for `packrat` to appear on CRAN

[2014-02-18 20:59] KentonWhite opened #47 "Integrate with RBundler"
- [ ] Provide an option to initialize a project with `RBundler` support
- [ ] Call `bundle()` during `load.project()`

[2014-02-18 21:01] #42 closed, assigned to nobody

[2014-02-20 16:43] johnmyleswhite opened #48 "CRAN complaints"
See e-mail below:

[2014-02-23 23:19] KentonWhite opened #49 "Dependency on an older version of testthat"

[2014-02-25 14:53] KentonWhite opened #50 "Move string interpolation to mustache/whisker"
Will need to deprecate current syntax in case someone is using it.

[2014-03-04 09:38] krlmlr opened #51 "Switch to current roxygen"
@KentonWhite: Are you ready to switch to roxygen 4.0.0?

[2014-03-04 10:05] #49 closed, assigned to KentonWhite

[2014-03-04 18:09] #41 closed, assigned to krlmlr

[2014-03-04 19:54] #51 closed, assigned to nobody

[2014-03-04 20:25] #40 closed, assigned to krlmlr

[2014-03-04 21:09] krlmlr opened #54 "Test on R-devel and on older versions in Travis CI"
See tikzDevice.

[2014-03-04 22:08] #54 closed, assigned to krlmlr

[2014-03-05 02:15] krlmlr opened #56 "Don't use "ProjectTemplate:::" inside package"
`R CMD check` in R-devel does not like that: https://travis-ci.org/johnmyleswhite/ProjectTemplate/jobs/20100039, line 6295+. Should be removed entirely, the search path for functions inside packages should be fine already. From the manual:

[2014-03-05 14:48] #56 closed, assigned to nobody

[2014-03-05 19:24] #39 closed, assigned to nobody

[2014-03-05 22:28] #22 closed, assigned to krlmlr

[2014-03-06 00:04] krlmlr opened #62 "Use @template for reader documentation"
As in plyr.

[2014-03-06 00:04] krlmlr opened #63 "Get rid of NOTEs about assignment to global environment"
Add parameter `envir = .GlobalEnv` to each reader, use it.

Requires #62.

[2014-03-07 07:57] #26 closed, assigned to nobody

[2014-03-07 08:10] krlmlr opened #64 "Call file.reader from url.reader"
to avoid code duplication.

[2014-03-07 09:28] krlmlr opened #66 "What happens if a dataset is named options or project.info?"
Test, possibly fix, document.

[2014-03-07 09:31] krlmlr opened #67 "Rethink reader interface"
All readers currently perform two things: reading the data, and assigning **at least** one variable to an environment. It would be better if the assignment took place in a central location, and the readers just returned a named list. (What about performance?)

[2014-03-12 19:55] krlmlr opened #68 "Test and fix url.reader"
- [ ] Missing `else`
- [ ] Only three cases: bad extension, with temp file, without temp file
- [ ] Test cases, perhaps with `file:///` URL

[2014-03-13 11:35] #48 closed, assigned to nobody

[2014-03-13 11:43] #63 closed, assigned to nobody

[2014-03-13 11:59] krlmlr opened #69 "Replace JPEG images by PNG on website"
@johnmyleswhite: Do you still have the original uncompressed images for the website?

[2014-03-25 15:50] #69 closed, assigned to nobody

[2014-03-28 05:56] lrcg opened #72 ".sql files should be SQL, not DCF"
Files in `config/` are `.dcf`, but files in other directories are as well. This is not good. For example, according to the documentation,

but the OS and other programmes will see this as a file containing SQL code. A project maintainer may want to have SQL code in `.sql` files to keep it out of `R` code and also share it with other programmes. It doesn't make sense to redefine all these file type

[2014-03-28 06:16] lrcg opened #74 "Allow comments in config files"
There should be a way to add comments to config files

[2014-04-10 18:43] krlmlr opened #77 "Use reshape2 instead of reshape"
- [ ] Suggests
- [ ] Project defaults

[2014-04-10 19:07] krlmlr opened #78 "Locale independent sort of file names"
For better reproducibility. See `sort_c` in `roxygen2`.

[2014-04-10 20:12] krlmlr opened #80 "Provide an easy way to invalidate cache"
Currently, file has to be removed manually from `cache` subdirectory. Can we do better?

[code]

Or even a config option?

[2014-04-10 20:24] krlmlr opened #81 "Documentation: One entry for all readers"
Should be enough, otherwise the index gets cluttered. Should link to the corresponding "worker" function.

[2014-04-17 09:23] krlmlr opened #82 "Move config/global.dcf"
`config` directory contains only one file, overkill. Suggestions (in order of preference):
- `.ProjectTemplate`
- `ProjectTemplate.cfg`
- `ProjectTemplate.dcf`

?

Related: #79.

[2014-04-25 10:54] krlmlr opened #83 "Unload all packages in reload.project()"
Rationale: Load order of packages may influence visibility of symbols defined in more than one package.

Perhaps a new function like `restart.project()`? Or even only if necessary?

Autodetection of course would be best, but this probably only works with the `libraries` section in `config/*.dcf`. Trouble is that this is not recognized by `packrat` (third item in #46).

Thoughts?

Relevant material

[2014-05-20 08:00] krlmlr opened #84 "Configurable location of directories"
To allow changing the layout later.

[2014-05-30 15:49] #33 closed, assigned to krlmlr

[2014-06-03 15:36] krlmlr opened #87 "What to do with objects that have more than one class?"
https://github.com/johnmyleswhite/ProjectTemplate/blob/master/R/load.project.R#L255

This `if` is technically wrong, and will warn if the object has more than one class. For instance:

[code]

Should everything that is a data frame be converted to a data table (`any(...)`), or should only "pure" data frames be converted to data tables (`all(...)`)?

Implementing the second option as part of #76, s

[2014-06-03 19:35] krlmlr opened #88 "Support multiple configuration files"
- [ ] New parameter to `load.project` and `reload.project`, interpreted as basename without extension in the `config` directory
- [ ] Cascading configuration

Closes #82.

[2014-06-03 19:59] #83 closed, assigned to nobody

[2014-06-03 21:18] krlmlr opened #89 "Distinguish between default configuration for new projects and substitutes for missing configuration items"
Missing values might correspond to "legacy" behavior that we better turn off for new projects but still want to support for backward-compatibility reasons.

[2014-06-03 21:20] #84 closed, assigned to krlmlr

[2014-06-04 09:01] krlmlr opened #91 "Auto-update inst/defaults/global.dcf when bumping package version"
Need to figure out a neat way. Perhaps `make bump-x` where x is the position in the version to increment, with the help of muxspace/crant.

[2014-06-04 10:13] krlmlr opened #92 "Integrate with RStudio"
Simply copy a "best practices" project file, named like the project.

Interface: A character vector of "options" to `create.project` that also allows #46 and #47, among others. Tested with `if "rstudio" %in% options`.

[2014-06-04 10:14] #82 closed, assigned to krlmlr

[2014-06-04 10:17] krlmlr opened #93 "Two more directories: data and results"
`data` -> `data/raw`, `cache` -> `data/cache`

Everything else except `config` goes to `results`. This gives the following root structure:
- `code`
- `config`
- `data`
- `results`

When running in a `packrat` project, now there is only a `packrat` directory, everything else at the top level will be files: `.gitignore`, `.Rprofile`, RStudio project file, `README` and `TODO`.

Along the lines of #85

[2014-06-05 14:33] KentonWhite opened #94 "Support XLConnect?"
Came across a new Excel package, [XLConnect](http://cran.r-project.org/web/packages/XLConnect/index.html). @krlmlr, you use Excel quite a bit, have you worked with this package? I sometimes find using the 'xlxx' package clumsy. Could this package be a better alternative to 'xlsx' and if so should we move to this package?

[2014-07-27 00:47] jackwasey opened #97 "no error or warning if missing directories"
create.project()
git push to new remote
(empty directories are not stored in git)
git pull to another machine
load.project()
(fails, doesn't munge anything, no error or warning)
mkdir data (etc)
(works)

[2014-08-08 17:45] #97 closed, assigned to nobody

[2014-08-08 21:50] krlmlr opened #98 "Testing with AppVeyor"
I have found a solution for continuous integration on Windows -- [r-appveyor](/krlmlr/appveyor). I can trigger [builds](https://ci.appveyor.com/project/krlmlr/projecttemplate/build/1.0.1) manually, but for automated testing a hook needs to be set.

@johnmyleswhite: Could you please take a look? I think it should be enough to sign in to AppVeyor and add the project for testing. The event matrix for

[2014-09-09 09:54] biocyberman opened #99 "Feature Request: Create file templates"
I would like to put a request on a feature that allows creating various file templates:

Currently the project configuration file `config/global.dcf` file is good to load the project as a whole and any scripts therein will not have to handle library import and data preparation. But if we just one to run one script in with `R --vanilla` for example, this would not work because libraries and data ar

[2014-09-19 12:23] krlmlr opened #100 "Remove dependency on Defaults"
Replace with new mocking facility in `testthat` (cf. hadley/testthat#159).

[2014-09-19 12:45] krlmlr opened #101 "R packages: A better way to handle code and data"
I propose a somewhat radical change: All data (raw data and munged data), as well as library code, should be put into (local) R packages. By that, we gain the following advantages:

- Dependency trees via the `DESCRIPTION` mechanism
    - Need to reload or munge only what is changed -- support for "minimal rebuild"
- Precompiled library code
- Tests for both data and library code are located appro

[2014-09-22 18:26] krlmlr opened #102 "Suggests -> Enhances"
I think we should move the packages we don't need for running or testing the package (i.e., where we check their presence before using them) to the `Enhances` section of the `DESCRIPTION`. Otherwise they need to be installed for each and every Travis (and AppVeyor) test.

[2014-09-22 18:58] krlmlr opened #104 "Don't attach packages, use qualified access instead"
Replace most instances of `require.package`.

This is a breaking change, we might want to make this behavior opt-out.

[2014-09-23 04:34] #91 closed, assigned to nobody

[2014-09-23 20:46] #74 closed, assigned to nobody

[2014-09-23 21:14] #50 closed, assigned to KentonWhite

[2014-09-23 21:27] krlmlr opened #113 "Parameter envir for all readers"
A big one, but necessary before publishing the extension interface.

[2014-09-23 21:32] #100 closed, assigned to nobody

[2014-09-23 21:44] krlmlr opened #115 "Enable passwordless access to database servers"
- [x] Postgres
- [ ] MySQL
- [ ] SQLite (is there a password anyway)
- [ ] Oracle (probably need help here)
- [ ] rJDBC (same)

As an alternative to #30.

[2014-09-23 21:58] #89 closed, assigned to nobody

[2014-09-23 22:01] #113 closed, assigned to nobody

[2014-09-23 22:06] krlmlr opened #116 "Check reader formals in .add.extension"
Otherwise errors will be difficult to track.

[2014-09-23 22:10] krlmlr opened #117 "Fix R CMD check warnings"
- [x] .convert.to.data.table: no visible binding for global variable ‘my.project.info’
- [x] .load.data: no visible binding for global variable ‘config’
- [x] use of `:::` with `log4r`

[2014-09-23 22:14] krlmlr opened #118 "Compatibility with RSQLite 1.0.0"
This just came in from @hadley (thanks for notifying!):

https://github.com/wch/checkresults/blob/master/RSQLite/r-release/00check-summary.txt#L257

I have no idea what's going on here, but I'm glad our tests have caught this.

[2014-09-23 22:39] krlmlr opened #119 "Show list of supported extensions in documentation again"
~~Instead, use an active binding to return this environment as a list.~~
- [x] Store extension instead of regular expression for each reader, use `glob2rx`
- [ ] Store name for each reader in attribute: `structure(csv.reader, name = "CSV files")`
- [ ] Function `readers` that returns df with columns "extension", "name", "source" (package name where the reader function lives)
- [x] Constant `preins

[2014-09-24 06:06] krlmlr opened #120 "Pull out readers with exotic dependencies into separate package"
Perhaps `ProjectTemplateReaders`?

This would reduce installation burden for the tests. Not urgent.

[2014-09-24 07:20] krlmlr opened #121 "migrate.project creates duplicate entries in the configuration"
Migrating an empty project created by 0.5-1:

[code]

[2014-09-24 15:54] #120 closed, assigned to nobody

[2014-09-25 08:07] #67 closed, assigned to nobody

[2014-09-25 08:10] #116 closed, assigned to nobody

[2014-09-25 08:13] #119 closed, assigned to nobody

[2014-09-25 15:19] #121 closed, assigned to nobody

[2014-09-29 07:37] #117 closed, assigned to krlmlr

[2014-09-29 18:25] #118 closed, assigned to nobody

[2014-10-05 11:41] #104 closed, assigned to krlmlr

[2014-10-08 10:31] krlmlr opened #126 "Lazy load data"
Optionally, with the help of `delayedAssign()`.

[2014-10-08 10:37] krlmlr opened #127 "Constructor for project configurations"
To support IntelliSense. The arguments for the constructor can be auto-generated (from `inst/defaults/config/global.dcf`), but documentation probably must be provided manually. (Any omissions will be caught by `R CMD check`.)

[2014-11-20 16:07] krlmlr opened #128 "README files in each directory"
Each directory should contain a `README.md` file that describes its purpose. This solves various issues:
- No more empty directories and Git (both for package development and committing a new project to Git)
- Get rid of the tar file, easier maintenance
- Many people never read documentation anyway, but `README.md` is shown in GitHub and GitLab if it exists, even for subdirectories -- hope for a l

[2014-11-28 08:42] #128 closed, assigned to nobody

[2014-11-28 09:01] #35 closed, assigned to nobody

[2015-02-10 17:21] iembry-USGS opened #135 "url.reader not found"
Hi, when I attempted to use the url.reader function, I came across an error.

See below:
library(ProjectTemplate) # version 0.6
url.reader('example.url', 'data/example.url', 'example')

Error: could not find function "url.reader"

Thank you.

[2015-02-10 17:29] krlmlr commented on #135
This is pretty much by design -- the function is not exported but called implicitly in `load.project()`, although the documentation really suggests otherwise. The intended use case is to create a `.url` file in your project's `data` directory which is then processed when the project is loaded.

[2015-02-10 17:50] iembry-USGS commented on #135
OK, thank you for letting me know.

Can you include what you've written on the url.reader help page?

Thank you again.

[2015-02-10 17:50] #135 closed

[2015-07-14 17:56] dschneiderch opened #136 "node stack overflow error"
When I try to load my project, I get an endless stream of "Running helper script..." until finally it crashes with `Error in match.fun(FUN) : node stack overflow`
I haven't used R in a week but it worked perfectly before. I tried to reinstall with `install.packages('ProjectTemplate',dependencies=T)` but it didn't help.

any suggestions?

In the terminal, I do

.....

here is m y session info:

R v

[2015-07-14 19:32] KentonWhite commented on #136
The message “Running helper script…” is printed when loading files from the lib directory. Can you check a couple of things:

Is there a file name after “Running helper script…”. Like this "Running helper script: 01-helper.R”

What are the contents of the lib directory? This command:

	dir('lib', pattern = '[.][rR]$’)

Will give an idea about what ProjectTemplate is trying to load.

Kenton White

[2015-07-14 19:45] dschneiderch commented on #136
doh.  I accidentally had a script in lib/ that should have been in munge/
and contained its own `load.project`.
sorry about that.
ds

Dominik Schneider
o 303.735.6296 | c 518.956.3978

On Tue, Jul 14, 2015 at 1:32 PM, Kenton White <notifications@github.com>
wrote:

[2015-08-04 15:25] famuvie opened #137 "Error using data.table() with xls sources"
Here is a [MRE](http://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example):

[code]

... which produces the following output:

[code]

[2015-08-04 15:27] famuvie commented on #137
The problem is in the `xls.reader()`.
As `xls` files may have multiple sheets, it creates `variable.name`s with a suffix `.Sheet.n`.
But then, `.convert.to.data.table()` looks for `variable.name` which is not found.

[2015-08-04 15:38] famuvie commented on #137
Furthermore, I think that the following sentence in `convert.to.data.table()`
[code]
should specify `inherits = FALSE`, for extra-safety.
In my test before, I originally used the file name `test.xls`.
At this point, the variable name was `test.Sheet1`, but the `get` mistakenly found `test` as the name of an available function.

[2015-08-05 08:36] famuvie opened #138 "conflicting file extensions"
I wrote a draft [shapefile reader](https://github.com/famuvie/shpReader) to be used with ProjectTemplate (related with this [question](https://groups.google.com/forum/#!topic/projecttemplate/4Lveqe_8N6Q) in the mailing list).

However I find an extension conflict issue with shapefiles:
  - a shapefile is specified using at least three actual files with extensions .shp, .shx and .dbf)
  - this last

[2015-08-05 15:19] KentonWhite commented on #137
Thanks for the suggestions! I like the idea of setting inherits = FALSE in the get statements. There are several other places where this might make sense, not just in convert.to.data.table. Would you be willing to make a PR with the change?

How to handle Excel workbooks is a bit of a struggle. Since Excel workbooks can have multiple sheets, it is fairly standard to append the sheet name to workbo

[2015-08-05 15:39] KentonWhite commented on #138
A shapefile reader is pretty great! One thought would be to override the .dbf extension using `.add.extension`. The new .dbf reader could check for a matching shapefile. If there is a matching shapefile skip the dbf file. If no matching shapefile is found, then load the dbf file as usual.

We created the ability to add new readers as separate packages to address the design challenges of `.load.dat

[2015-08-06 12:51] famuvie commented on #137
No, that would not fix the problem.
It will get the sheets converted to data.table, but `.load.data()` will still return a vector of variable names which is incorrect (having an instance of `xlsfile` rather than `xlsfile.Sheet1`).

This vector will go into `my.project.info$data$ and will eventually cause the same problem in `.convert.to.data.table()`: the variable will not be found.

I propose a q

[2015-08-06 14:31] famuvie commented on #138
Yes! that's an excellent solution.
[It works](https://github.com/famuvie/shpReader) like charm.

On the other hand, I had to perform a couple of non-recommended operations that give rise to NOTEs in a R CMD check:
- I had to call `ProjectTemplate:::dbf.reader` in the overriding function, for the case of *true* `dbf` files.
- I had to `assign(..., envir = .GlobalEnv)` in the shapefile reader.

Call

[2015-08-16 18:17] KentonWhite commented on #137
Thanks for the PR's. I've been laid up for the past week and just getting back to work. Sorry that this has been delayed on my end. Let me look at the proposed solutions in more detail this week and we can discuss. Again sorry for the delay.

[2015-08-16 18:32] KentonWhite commented on #138
Glad it works!  I agree that the hacks are not very elegant. Here are some thoughts -- may or may not work.

Rather than calling `ProjectTempate:::dbf.reader` in the overriding function, can you assign the old function to a new variable before overriding? something like `old.dbf.reader <- dbf.reader`? The benefit is if other readers before you have modified `dbf.reader` then you will use the modif

[2015-08-16 18:32] #138 closed

[2015-08-23 21:06] #136 closed

[2015-08-23 21:07] krlmlr commented on #126
Can't peek into `.rda` files. Create a package for each data set to benefit from lazy loading.

[2015-08-23 21:07] #126 closed

[2015-08-23 21:12] krlmlr commented on #101
ProjectTemplate follows different goals -- a [web of packages](https://github.com/krlmlr/rpkgweb) (not ready for prime time yet) doesn't need ProjectTemplate at all.

Others have considered using packages, too: http://www.r-bloggers.com/packages-vs-projecttemplate/

[2015-08-23 21:12] #101 closed

[2015-08-23 21:14] krlmlr commented on #44
I can't support this feature anymore. @KentonWhite: Please feel free to reopen.

[2015-08-23 21:14] #44 closed

[2015-08-23 21:16] krlmlr commented on #46
Everything in the list above can be done by the user.

[2015-08-23 21:16] #46 closed

[2015-08-23 21:19] #72 closed

[2015-08-23 21:30] krlmlr commented on #72
I'll be happy to incorporate a pull request.

[2015-08-23 21:35] krlmlr commented on #98
Multi-platform testing is nice to have, but not strictly necessary for this project.

[2015-08-23 21:35] #98 closed

[2015-08-23 21:37] krlmlr commented on #92
Solved by `devtools::use_rstudio`.

[2015-08-23 21:37] #92 closed

[2015-08-23 21:38] krlmlr commented on #87
The commit is bad, should be `any` instead of `all` (or an `inherits()` call).

[2015-08-24 09:09] krlmlr commented on #43
Perhaps not.

[2015-08-24 09:09] #43 closed

[2015-08-24 11:59] famuvie commented on #138
Thank you for your suggestions.
Substituting the reference to `.GlobalEnv` by `ProjectTemplate:::.TargetEnv` works fine, although again I need to make use of `:::`.
On the other hand, `dbf.reader` is also not exported in ProjectTemplate, so I cannot simply assign the function to a new variable, without using `:::` which is what I was trying to avoid.

In any case, I hope it helps someone else usin

[2015-08-24 12:04] krlmlr commented on #138
How about creating your own `.TargetEnv` in your package?

As for the `dbf.reader`, I'm not sure if this should be the responsibility of your package to call it. Perhaps `ProjectTemplate` should try calling "the next reader" itself, if it detects that a reader could not cope with a certain input file.

[2015-08-24 12:15] famuvie commented on #138
You mean a `.TargetEnv` also pointing to `.GlobalEnv`?

I agree with your second thought. But it requires a structural change in how ProjectTemplate loads datasets. I don't dare to make such modification myself.

[2015-08-24 12:17] krlmlr commented on #138
If you decide to give it a try anyway, I'll be happy to review the pull request. I think this is closely related to  #140.

[2015-08-24 12:20] famuvie commented on #138
Indeed. Haven't you implemented such a more flexible approach in your package `LoadMyData`?
If it works, why not *importing* this one feature back to ProjectTemplate?

[2015-08-24 12:27] krlmlr commented on #138
As I said -- I'm not happy with LoadMyData, I think the whole idea is flawed.

Perhaps LoadMyData could be really useful if it produced *source code* instead of actually executing code. Then, ProjectTemplate could add this source code to an R file and execute this file. The benefit here is that it gives the user full control over the data loading process, while at the same time providing a sensibl

[2015-08-25 00:23] KentonWhite commented on #138
@famuvie I've played around with the shapefile reader and like how it works! I hadn't considered that `dbf.reader` is not exported from ProjectTemplate. A thought -- we could expose a function `.get.extension` that returns the current reader associated with the extension. Then when overriding the previous reader one could call `.get.extension` to retrieve the previous reader and store it in a loca

[2015-08-25 09:23] famuvie commented on #138
Yes, I think the `.get.extension()` function would be a reasonable solution.
In the long term, though, I agree with @krlmlr that the whole dataset-loading process should be refactored.

[2016-03-11 11:03] tomschloss opened #144 "Make sql.reader more flexible for odbcDriverConnect"
This is more of a selfish feature request which I'm happy to work on, but wondering if you have any concerns with the idea.

The current `sql.reader` for odbc requires very particular inputs. `odbcDriverConnect` accepts a whole bunch of other inputs by allowing "a more flexible specification via a connection string". My idea is for `sql.reader` to be a little more flexible with inputs to make use

[2016-03-11 15:34] KentonWhite commented on #144
I like the idea. I've been bit a few times with `sql.reader` not accepting all of the inputs and have made piecemeal changes when they come up (e.g. passing a port to postgres). Really appreciate your offer to look into a more flexible specification. Please be considerate of others and use sensible defaults when a setting is missing.

[2016-03-21 16:40] tomschloss commented on #144
Hopefully this is on point. Let me know either way. I think there is some possibility for extending this to the other db connection types.

[2016-06-21 07:36] eribul opened #147 "more flexible caching?"
I would suggest to allow some flexibility for cachnig (just to pass a `...`to save would be a atsrt). I sometimes like to pass argument `compress = FALSE` when I work with large data sets and it takes a lot of time to compress/decompress.
I might also prefer `saveRDS` to `save`.

[2016-06-21 22:27] KentonWhite commented on #147
I hadn't really thought about the choice of defaults for caching. It does make sense to allow some flexibility. I think passing in arguments to `cache` would be the easiest (rather than controlling the default behavior through the global.config file).

Is this a feature you might be willing to try implementing?

[2016-08-29 08:35] Hugovdberg opened #150 "Initialise logger first"
Currently the logger is intialised after the munging scripts are run. However, this means that any munging scripts (or even helper scripts) cannot access the logger. To me it seems it would make more sense to intitialise the log4r object before the helper functions are called, or at least load the library first if logging is enabled.

Some situations where this is useful:

- Using a helper script

[2016-08-29 19:36] KentonWhite commented on #150
@Hugovdberg This is a great idea. I don't personally use the logger so have never discovered this. I don't see any reason why the logger shouldn't be initialized before any work is done.

Do you feel comfortable changing where the logger object is initialized and making a pull request with the changes?

We can also discuss more why you feel having different log files would be necessary? For me a v

[2016-08-30 06:47] Hugovdberg commented on #150
I've never edited an R package before, but once has to be the first time so I'll give it a shot later this week. I've looked at the R code where the edit should be made, but I'm not sure if the `load.project.R` is the only thing that needs editing. I'll dive into it and see what I can do.

Regarding the different logfiles, my thinking was that perhaps you might want to separate the more low-level

[2016-08-30 15:30] KentonWhite commented on #150
Thanks! Think allowing a person to change the logging level is the correct path. It lets us leverage the features of log4r without needing to write more code.

[2016-08-30 16:56] Hugovdberg commented on #150
Ok, I'll see what I can do, so if I understand you correctly the preferred way to implement this is as follows:

- add `logging_level` to `global.cdf` (allowing any valid string for the `log4r` package, with default at "INFO")
- Move logger initialisation in `load.project` to directly follow loading packages
- Set default loglevel to `logging_level` from config

Do you agree?

[2016-08-30 17:29] Hugovdberg commented on #150
An extra argument in favour of adding the `logging_level` setting is that it can be overridden easily to output DEBUG messages.

[2016-08-30 17:38] KentonWhite commented on #150
I agree. Let me know if you need any help with this, and thanks in advance!

[2016-09-04 19:05] #150 closed

[2016-09-11 15:20] connectedblue commented on #147
I have proposed a change #152 which enables objects in munge scripts to be cached only if they don't already exist.  This saves time during subsequent load.project() calls, especially for large transformations that can take a while to cache and usually you haven't made any changes.

If you have created a dataframe called `foo` from the raw datasets, you can have the command:
`cache("foo", always=F

[2016-09-11 15:29] connectedblue commented on #80
My proposal #152 contains a function to clear the cache of one or more objects:
`clear.cache(c("foo", "bar")`
will delete those variables from the cache if they exist.

It provides an interface and a simple implementation behind (just deleting the correct files from the cache directory).  If more advanced stuff comes along such as cache aging, maybe this interface could be extended to incorporate

[2016-09-11 16:17] connectedblue commented on #88
Does #152 address the requirement?

The PR will read a `custom.dcf` file if it exists in the config directory.  This contains config that is specific to a particular project, e.g. it might be important to cache some derived dataframes.  This could be specified in `custom.dcf` as follows:
`cache_obj:  foo, bar`
and then a processing line in a munge script could call:
`lapply(strsplit(config$cache_o

[2016-09-12 07:09] Hugovdberg opened #153 "Ignore files in data folder"
How do you guys feel about adding an ignore list for file in `data/` to the configuration? A specific problem that occurs to me rather frequently is that at my workplace we're using windows, which creates Thumbs.db files as soon as a thumbnail is created.
Unfortunately, depending on the data files used, this is also created in the `data/` folder, after which the `load.project` treats it as a SQLit

[2016-09-13 10:41] wlandau opened #154 "Possible integration with remake?"
The [`remake`](https://github.com/richfitz/remake) package is a [Makefile](https://en.wikipedia.org/wiki/Makefile)-like reproducible build system for R. I am not sure exactly how ProjectTemplate and [`remake`](https://github.com/richfitz/remake) would cooperate, but if they were to do so, there could be automatic caching for every stage of a `ProjectTemplate` project (rather than just manual inter

[2016-09-13 11:22] Hugovdberg commented on #154
`remake` sounds good and explicitly defining dependencies might actually be an even more efficient solution to the problem I mentioned in issue #153 (and is somewhat related to #101).
On the other hand I think it would require a major overhaul of how `ProjectTemplate` works internally, and we should also consider what the core purpose is of the `ProjectTemplate` package. I think that we should str

[2016-09-13 13:14] KentonWhite commented on #88
I've dug into what `custom.dcf` does and I agree it doesn't really address the wish here. I'll put my thoughts on `custom.dcf` in PR #152.

[2016-09-13 13:26] Hugovdberg commented on #88
I agree with @KentonWhite that this `custom.dcf` does not provide the functionality requested. This issue calls for a call like `load.project(override_config = list(), config = 'global.dcf')`, so you can on the fly determine which config to use. So instead of your method to use `custom.dcf` if it exists, you can choose which to me seems a better way to go about this.

[2016-09-13 13:53] KentonWhite commented on #147
I like this a lot and think it is a great step toward more flexible caching. Really like the addition of `clear.cache`. It is so much safer than manually deleting cached files.

@connectedblue what do you think about adding a helper function `is.cached` that can be used to skip munging steps completely if the object exists in the cache?

[code]

[2016-09-13 13:56] KentonWhite commented on #153
Since I don't work on windows, I've never encountered this problem -- which is why open source is so awesome! Such a common problem for so many users and such a simple solution.

@Hugovdberg do you think you could put together a simple PR with the ignore list and adding `Thumbs.db` to the default list?

[2016-09-13 14:02] KentonWhite commented on #154
@wlandau One approach we have taken on ProjectTemplate is to try and make it extensible for custom changes. For example, there are advanced hooks to allow users to add readers without needing to modify the core ProjectTemplate.

We've previously discussed adding functionality from PackRat and bundlR, but making the choice for people seemed to violate some of the core tenants.

Let me noodle on if

[2016-09-13 18:42] connectedblue commented on #147
Yes, the `is.cached()` will be very helpful.  I'll add that into the branch.

[2016-09-13 19:13] connectedblue commented on #147
Actually, I think there is more to this than just this function.  The user still has to write the boiler code to test if it exists, do the processing and then cache with `always=FALSE`.

I think there is a further helper function that can do all that, plus emit warnings if the lines are skipped because the item is already cached, which would be helpful to remind if the user forgot to clear the cac

[2016-09-13 20:36] Hugovdberg commented on #153
I can definitely create the code to do this, I was just wondering if the team would be interested to incorporate the code versus keeping it lean and clean. Are there other files or directories that might be created by an operating system automatically which we wish to exclude by default? I know I've seen some `.DS_Store`/`.Trash` files from Mac OS but I'm not sure when and where these are created

[2016-09-14 15:13] KentonWhite commented on #147
Looking forward to seeing the interface you come up with. Think the idea of `dynamic.cache` is on the right track.

[2016-09-14 15:14] KentonWhite commented on #153
Files like `.DS_Store` and `.Trash` are all hidden files. Is the `Thumbs.db` also a hidden file on Windows (don't know enough about the OS). If `Thumbs.db` is also a hidden file, might it an alternative solution be to ignore hidden files?

[2016-09-14 16:41] wlandau commented on #154
Thanks for the input! I will be sure to keep following this thread.

[2016-09-15 15:58] Hugovdberg commented on #153
`Thumbs.db` is hidden indeed, so it's a viable option to ignore hidden files, if it is possible to reliably detect hidden files across all operating systems. I will see what I can do on that. It would better fit the convention over configuration philosophy of the project, even though configuration in this case could drastically improve performance of analyses of subsets of the project data.

[2016-09-20 17:09] connectedblue commented on #153
My suggestion would be a `dataignore` file in the data directory which has a list of regular expressions to ignore when reading the data.

The defaults directory could contain an example list of common defaults such as you've discussed already across all operating systems. Then it works out the box for most users without them having to do anything.

This fits the paradigm of `.gitignore` which I p

[2016-09-20 17:18] connectedblue commented on #154
I think that caching should be improved as a core function. It is provided today but can be slow on large data sets and doesn't handle dependencies well.

I get the sentiment that project template should be lean, but given that it has already been decided to support caching, there is always scope to optimise the feature.

I am working on a pr which I will share shortly that contains an implementat

[2016-09-20 19:13] KentonWhite commented on #153
Maybe it could read the `.gitignore` file. I'm assuming that many people include these files in their `.gitignore` file anyways.

[2016-09-20 19:30] Hugovdberg commented on #153
Reading `.gitignore` isn't the best option I think. I sometimes include data in `.gitignore` if the data is compiled with a pre-preprocessing script in lib from a `data-raw` directory (and I see so does @connectedblue ). I often have a lot of separate files I want to combine into a single file for `ProjectTemplate` to read into memory, so there's no point in tracking that single file that can be r

[2016-09-20 19:39] connectedblue commented on #153
I think I prefer dataignore without the dot so it's always visible. It doesn't need to be a hidden file and would be more transparent to users.

I also don't think reading .gitignore is a good idea, because not everyone uses git!

[2016-09-20 19:45] Hugovdberg commented on #153
But then again, why a separate configuration if it can be set through the single configuration file everyone is used to? Also, `dataignore` is then another reserved name (besides `config` and `logger`) for variable names. Also if people would already have a dataignore file in their datafolder it would now be mistakenly treated as special file, so I'm still for adding it to `global.dcf`.

[2016-09-20 19:45] connectedblue commented on #153
@Hugodvberg `global.dcf` is also a good idea to keep all project template config in one place.  A comma separated list would be all you need.

[2016-09-20 19:46] connectedblue commented on #153
Yes, agreed:) my comment crossed with yours!

[2016-09-20 19:47] Hugovdberg commented on #153
I'll keep working on my current change then, expect a PR soon :)

[2016-09-21 07:03] connectedblue commented on #147
I've just proposed some code to implement this idea in #155

[2016-09-21 07:06] connectedblue commented on #154
Pr #155 is my proposal for faster caching.

[2016-09-21 12:48] KentonWhite commented on #154
Awesome! Give me a couple of days to review the PR please.

[2016-09-28 01:20] jeromyanglim opened #156 "Consider using readxl package for xls and xlsx files to remove external dependency"
One issue that I've encountered when training others to use ProjectTemplate is that new users often want to import Excel files (xls and xlsx). Users on Windows almost never have a Perl installation (required by gdata). Of course, they can get one, but I wonder whether it would be worth considering using the readxl package that does not have external dependencies.

I adapted a function for my own p

[2016-09-28 07:51] connectedblue commented on #156
Hi @jeromyanglim

I use windows and had no idea that perl was being installed.  I import from spreadsheets all the time (although thinking about it, maybe they are CSV files not xls).

Looking at your code, it seems a small change that would not impact other reader types.  I'd encourage you to fork the latest master, make the package change and submit a pull request.  I'd be up for testing the cha

[2016-09-28 14:17] connectedblue commented on #147
@eribul did you get a chance to look at pr #155?

I'm interested in your comments and whether it helps with the caching problems you have encountered?

[2016-09-29 12:08] KentonWhite commented on #156
Hi @jeromyanglim,

Updating the excel readers is definitely on our wish list. See issue #94!

Since you have done most of the work already the final step is opening a pull request and merging the changes into the project. If you have never contributed to open source before I'm very happy to help you with this and walk you through the steps. Github has a great tutorial here:

[https://help.github.c

[2016-09-30 07:45] jeromyanglim commented on #156
@KentonWhite  Okay. I'm pretty new to pull requests, but I'll be able to work it out.
I guess the main issue from my perspective would be whether readxl would break any previous code.
But in general, I think that readxl is an excellent option because removing dependencies on java or Perl would make ProjecTemplate more accessible.

I'll give the pull request thing a go over the next few weeks once

[2016-09-30 19:00] KentonWhite commented on #156
@jeromyanglim We use the testthat test suite to ensure that new functionality doesn't break the package for other users. Since `readxl` should be a drop-in replacement in terms of functionality, all of the tests should pass. If the tests don't pass then testthat should give some feedback about what is broken.

You can run testthat locally on your machine or have TravisCI on GitHub test it for you!

[2016-10-03 19:14] Hugovdberg commented on #153
Wow, it's taking a little longer than expected, didn't have as much time to donate as I had hoped.
Currently the following patterns can be ignored in my private repository (not yet ready for PR):
- Full filename (relative to `data/`): `Thumbs.db`, `subdir/ignore.csv`
- Wildcards in filenames using `*`: `*.xml`, `test-*.csv` (all other regex specials are escaped unless in a delimited regex)
- regul

[2016-10-03 20:00] connectedblue commented on #153
Sounds pretty comprehensive to me @Hugovdberg .  If people come up with new examples of files that exist on operating systems, I would think they could be added to the default template using the patterns you have designed.

As a convenience to the user, it could be good to put out a message when there is a match showing the filename that was skipped.

[2016-10-03 21:16] KentonWhite commented on #153
Hi @Hugovdberg, looks pretty good to me as well. If you can submit as  PR and we'll merge into the master branch if all is good.

Can you think about adding some test cases to cover this behavior? It will help our future selves track down broken behavior :)

I see this as an advanced feature, one where most people will be happy with the defaults working without even being aware it is there. If you

[2016-10-07 06:36] jeromyanglim commented on #156
@KentonWhite Okay. So I gave it a go.

https://github.com/johnmyleswhite/ProjectTemplate/pull/159

I mention a few of the issues in the pull request, mostly around backwards compatibility.

[2016-10-10 09:13] eribul commented on #147
Hi @connectedblue!

I'm sorry for my very late respond but my  life has been a little up-side down (I just became a father :-)
I think all of this sounds realy great and exciting! I think it will be a great step forward!

[2016-10-10 16:55] connectedblue commented on #147
Congratulations @eribul!  I don't suppose you will have too much time for R in the near future, but if you do very a chance, make sure you sync with the current `master` branch and check out lots of new features.

[2016-10-17 20:13] connectedblue commented on #147
@KentonWhite Can this issue be closed now since the caching got merged in #155 ?

[2016-10-17 20:35] KentonWhite commented on #147
Closed. Thanks for the reminder.

[2016-10-17 20:35] #147 closed

[2016-11-16 16:07] connectedblue opened #165 "use of .R files in the data directory"
I've run into an issue on one of my projects which @KentonWhite highlighted when #160 was being developed to auto cache data during load.project()

This file demonstrates the issues, and how I worked around them:

https://github.com/connectedblue/capstone/blob/master/capstone/data/corpus.R

In this project, I am trying to create a test data set from the original data during my exploratory analysis

[2016-11-18 16:25] KentonWhite commented on #165
@connectedblue I'm not quite following the problem. The convention of ProjectTemplate is that only variable names that match the file name will be checked prior to processing the file in the `data` directory.

In my opinion keeping the global namespace clean is the responsibility of the user. If the user wishes to create multiple global variables during the data step this is their choice. Sometime

[2016-11-18 17:57] connectedblue commented on #165
Hi @KentonWhite, I agree the user has to be responsible - I just also wanted to be lazy and avoid having to wrap unwanted variables in a function :)  As you say, multiple variables are also created in excel files, so that is a smaller point and perhaps a red herring.

However, the larger point is the unnecessary processing that occurs when the variable name is not the same.  In my example, I origi

[2016-11-25 04:28] kezkankrayon commented on #30
In the .sql file, it'd be great to be able to do the following:

`user: Sys.getenv("uid") `
`password: Sys.getenv("pwd")
`

Unfortunately, these are read as literal strings.

[2016-11-28 21:01] #30 closed

[2016-11-28 21:15] KentonWhite commented on #165
@connectedblue Ok I see. just to make sure I understand, the proposal is to make it a convention that there can only be one global variable in a `data/*.R` file and that the global variable must be the same name as the `data/*.R` file. Any other global variables created will be deleted and not reproduced later. Have I got it right?

[2016-11-28 21:38] connectedblue commented on #165
Yes, @KentonWhite , that's what I was thinking.  The `r.reader()` enforces the convention on a per file basis.

Some appropriate messaging during data load would help guide the user if the convention is not followed, and the man page would outline the convention.

I can knock up a prototype to test the concept further and see if it makes sense.

[2016-12-03 16:12] crubb opened #170 "csv2.reader() does not behave as expected with regard to read.csv2()"
Hey guys,

when using the .csv2 file extension I was expecting that R's `read.csv2()` would be used instead of `read.csv()`.

From R's documentation:

`read.csv(file, header = TRUE, sep = ",", dec = ".", ...)`
`read.csv2(file, header = TRUE, sep = ";", dec = ",", ...)`

ProjectTemplate's implementation when using `csv2.reader()` is using `;` as a separator, but keeping `.` as the decimal separator

[2016-12-03 16:21] connectedblue commented on #170
@crubb that seems to make sense to me - although I personally don't use `.csv2` files.  You might break a few regression tests though which would have to be fixed :)

On a related point, I've wondered whether we should just be using `read_csv`  function from the `readr` package because that does a lot of auto checking on the various csv types and makes sensible decisions on data types etc.  I wond

[2016-12-17 14:59] famuvie commented on #138
Hi @KentonWhite, any progress on this issue? shall we open a new one?

[2016-12-19 07:56] connectedblue commented on #138
What about introducing a convention that directory names can have extensions too, and a generic reader passes all the files in the directory to a specific reader for analysis.

So, there could be a directory called `xxx.shp` containing all the relevant files for the `xxx` shapefile object that are passed safely and without conflicting with other files in the top level `data` directory.

Since thou

[2016-12-19 09:26] famuvie commented on #138
Seems good to me, @connectedblue. Yet, the implementation should allow single files in `data` as well, for backwards compatibility, and for usability.

[2016-12-19 20:13] connectedblue commented on #138
@famuvie agreed.  I have my hands full at the moment with a data project that needs completing by the end of the year, so I don't want to get distracted.  However, we could work on it in the new year if you're up for it?

[2016-12-19 22:25] KentonWhite commented on #138
I thought I had exposed this behaviour. My main computer is in the shop this week and will check once I have it back. If the behaviour isn't exposed I'll add it in.

[2016-12-20 06:08] famuvie commented on #138
Great! thanks folks.

[2016-12-29 09:55] Hugovdberg opened #177 "Change /doc to /docs"
Recently GitHub made publishing a website on GitHub Pages a lot easier: [see this blog post](https://github.com/blog/2289-publishing-with-github-pages-now-as-easy-as-1-2-3). There are two options to set the Pages root in the `master` branch, either use the root directory or the `docs` folder. By renaming the `doc` folder to `docs` in new projects we facilitate the latter option.

As the `doc` fold

[2016-12-29 10:07] connectedblue commented on #177
Nice - I hadn't seen that post.  I keep meaning to learn jekyll etc, but this looks super easy.

Agreed that your proposed change is relatively minor.  There would also need to be a change to the `exclude` variable in `create.project` so that minimal projects keep working correctly.

I would also suggest putting some detection code in `migrate.project` to change the directory name in existing proj

[2016-12-29 10:22] Hugovdberg commented on #177
I'm not sure about changing existing projects, existing links to the `doc` folder might break and cannot be changed automatically. I would suggest to create a message pointing to the blog post to notify the user of the possibility, or at the very least prompt the user whether the folder should be renamed.

[2016-12-29 10:45] connectedblue commented on #177
Yes, there are edge cases either way.  The purpose of `migrate.project` is to bring a previously created project up to date with the latest version (as if `create.project` has been run again).

If the `doc` directory remains after migration, then `migrate.project` loses its integrity for all users just because some might have broken links.

A user prompt would be a nice middle ground.

[2016-12-29 13:49] KentonWhite commented on #177
I agree this would be a nice change. Change existing projects through the `migrate.project` function. I would not erase or rename the `doc` directory with `migrate.project` but instead simply add the `docs` directory to existing projects. This prevents those projects from breaking. The user can then delete the `doc` directory if they desire. New projects should only have the `docs` directory.

[2016-12-29 13:55] connectedblue commented on #177
@KentonWhite neat solution.  Best of both worlds - forward and backward compatibility :)

[2016-12-30 09:44] Hugovdberg commented on #177
Simply creating the `docs` directory is indeed a better option, but I think there should be a message that the new `docs` isn't just a typo (for the people who missed the update). So tasks to do:

- [ ] Change skeleton `doc` to `docs`
- [ ] Add "create `docs`" to `migrate.project()`, including message when folder is created
- [ ] Update our documentation with reference to GitHub blog post

Missing

[2016-12-30 09:52] connectedblue commented on #177
also, in `create.project()` around line 53, the check for minimal needs updating - the `exclude` variable needs updating to "docs".

You could also update the `README` in the new `docs` directory to show how to integrate easily with github pages and the blog post link.

[2016-12-30 10:50] Hugovdberg commented on #177
Added your remarks to the checklist.

On a sidenote, shouldn't we rename the `website/` folder in this repository to `docs/` as well or will that conflict with building the package?

[2016-12-30 12:08] KentonWhite commented on #177
The websit folder should not be changed at this time. It is used to build the ProjectTemplate.net site and uses and older workflow. I should update the workflow so it is compatible with github pages.

[2016-12-30 16:47] Hugovdberg commented on #177
`migrate.project` is a difficult case anyway I think, because in my opinion it should obey the minimal project option if it was true in the call to `create.project`. Since the other folders excluded for a minimal install aren't created during migration either we shouldn't add just `docs`. I will add a new issue for this as I think we should carefully consider how projects are created and migrated,

[2016-12-30 16:57] connectedblue commented on #177
Yes, very good point.

 Maybe `migrate.project` should check for `doc` and if it exists, create a `docs`.  A bit hacky, but should get the job done. Meanwhile we should think more carefully as your suggest.

Who would have thought it was so difficult to add an `s`?

[2016-12-30 18:35] Hugovdberg opened #179 "Review creating new directory structure at project creation and migration"
Issue #177 proposes a new name for the `doc/` directory to `docs/` to enable easy integration with GitHub Pages. A change was suggested to add renaming the folder to `migrate.project()` as well as the purpose of that function is to get the project up to the same level as after a call to `create.project()`. However, at this moment new directories added to the skeleton structure aren't created at al

[2016-12-30 19:34] connectedblue commented on #179
I'm not sure that the comments raised in #177 are sufficient reason to re-factor as you suggest.  Is there a wider issue that would also be addressed?  So far `migrate.project` only tinkers with the configuration settings to make sure they are up to date - the `docs` debate was about whether that specific folder needed special migration treatment.

Perhaps there needs to be a greater distinction b

[2016-12-30 20:34] Hugovdberg commented on #179
@KentonWhite mentioned the `migrate.project` function should bring a project up to date with the latest ProjectTemplate structure, as if it were based on a recent call to `create.project`. So that part of the discussion boils down to the question of the directory structure needing migration as well as the settings, which I think it should.

It is good you mention the custom templates here, I think

[2016-12-30 20:46] Hugovdberg commented on #179
I think it would be very well possible to include a hook to your custom templates package you mention to create in #176 from within the `.get.template` function I propose above. That way your not-CRAN-compatible functions can help people setup and manage their custom templates if it is available on the system, while keeping almost the same functionality available without treading the CRAN rules mo

[2016-12-30 23:04] connectedblue commented on #179
Yes, I'm looking for a way to allow users to manage templates in the way you suggest.

I need to think about how this would practically work.

I'll post a new PR very soon with a proposal for comment.

[2016-12-30 23:20] Hugovdberg commented on #179
Perhaps change my proposed .get.template to something like:

[code]

That wouldn't need a new package for the template management, simply a global option that points to a directory containing the templates. To me it seems this refactored structure does indeed provide the custom template functionality without further violating CRAN requirements.

[2017-01-02 12:42] Hugovdberg opened #182 "Migrate repository to git-flow"
Some time ago I came across this [blog post](http://nvie.com/posts/a-successful-git-branching-model/) that lines out a branching model that I think might be advantageous to us. By splitting into a stable `master` and an unstable `develop` branch the `master` branch is kept clean, while retaining all information on previous branches and thus removes the necessity to squash commits. There are `git-f

[2017-01-02 15:41] connectedblue commented on #182
I think our workflow is based around git flow in practice, even if we don't use the tools.  Each feature is developed in a separate branch (usually on the developers own repo) and the pull requests are the equivalent tool for publishing back to the `master` branch.  Each of the releases is tagged in a similar way to git flow.

I think the GitHub PR system is pretty powerful for commenting, reviewi

[2017-01-02 17:07] Hugovdberg commented on #182
I disagree on the point out `master` is treated like the `develop` branch in `git-flow`. Yes we do use branches off `master` which are merged in again later, but then again we are trying to keep master as clean as `master` in `git-flow` by squashing commits (even after they have been published). If we *do* consider this `master` branch a development branch there should be no need to squash commits

[2017-01-02 17:35] connectedblue commented on #182
Oh, I see what you mean.  There is no development history on `master`.  In fact I was concerned about that too for my own changes so I created a branch called `archive` in my own repo fork and I push all my development commits to that so I have my own history.  Of course I don't get everyone elses.

I also delete all other branches in my own repo so I can see what's going on.  So, apart from `mast

[2017-01-02 17:47] Hugovdberg commented on #182
It's not too hard, they can use `git rebase` to move their changes relative to another feature. Then conflicts that arise because of that are theirs to fix, `git rebase` is really powerful in helping you along. And if we don't know how to do it, those magicians over at StackOverflow.com can sure help out.
Yes, I'm all for casual developers joining in (I'm not sure I'm much better than that ;-)), b

[2017-01-02 22:42] Hugovdberg commented on #177
Pull request #180 resolves this, all further discussion on implementation should be moved there. Closing this issue.

[2017-01-02 22:42] #177 closed

[2017-01-04 19:53] connectedblue opened #185 "New .is.cached() function"
This issue surfaced during a review of #183.

The core requirement was to have a function called `.is.cached(var)` which on first glance looks like a simple one-liner to check for the existence of the appropriate `.RData` file.

However, there are deeper issues to consider with an `is.cached` function.  For example:

 - should the existence of both `.RData` and `.hash` be checked, and only declare

[2017-01-05 08:26] Hugovdberg commented on #185
I think `.is.cached` should report whether the variable can be loaded from cache without loading the raw data, but it should not have any side effects. So it should check validity of the cache (do both files exist and is the hash up to date), but not fix any invalid cached data.
It would be nice to have a `clean.cache` function (not to be confused with `clear.cache` so perhaps it should have anoth

[2017-01-05 13:22] Hugovdberg commented on #170
`readr` provides both a `read_csv` and `read_csv2` function, similar to the `read.csv` and `read.csv2`. There would still be a need for a `csv2.reader` because `read_csv` doesn't magically determine the column separator. I agree with @crubb that the current `csv2.reader` doesn't work consistently with the `read.csv2` function which the name implies. I have the same issues with the csv2 format (bei

[2017-01-05 20:14] connectedblue commented on #185
There is a danger that this becomes a solution looking for a problem.

There is no rule that says cached items also have to be in `data`.  I quite often use `cache()` calls during munge to create derived data sets which I want to load fast during `load.project()`.  And if we do need a `clean.cache` function, who calls it?  It shouldn't be the user.  Is is called during `load.project()`?

I think t

[2017-01-06 08:16] Hugovdberg commented on #185
I realise just now there can indeed be cached variables not directly tied to data files. That's a thing I'll fix in the `list.data` function. But still I think any function called `.is.*` should purely report a status and not have any side effects. It should indeed report `FALSE` if not both files exist, but I wouldn't expect it to delete anything, or at least not by default.
I don't agree that `c

[2017-01-06 13:52] connectedblue commented on #185
The reason I wrote the extensions to `cache()` was that I was finding that I was writing my own cache handling functions in munge scripts in order to speed up `load.project()` when developing scripts.  Afterwards the extensions for `load.project()`, `clear.cache` and so on built on this idea to allow the user to have speed when they need (by not recalculating over and over), but also the flexibili

[2017-01-06 15:20] KentonWhite commented on #179
@Hugovdberg @connectedblue Can we close this issue? Sounds like this refactoring will be addressed with the custom templates!

[2017-01-06 15:49] KentonWhite commented on #182
A good practice for Open Source Software is to have bleeding edge work in master with tags indicating stable releases. This prevents features from accidentally being left out. If you look at the branch history we tried a development branch some time ago. These were the lessons we learned:

- **Offering two branches is confusing** Many people expect master to have the most up to date commits. When

[2017-01-06 15:49] #182 closed

[2017-01-06 16:11] KentonWhite commented on #185
Dealing with a corrupt cache is an important issue. It may only happen occasionally, but when it does happen we want to recover gracefully and correctly.

I would take the Unix approach here. When we detect an invalid cache, give the user a list of options to chose from to recover.  These can include:
- attempting the repair the cache for example by adding a .RData file
- removing the cached item

[2017-01-06 16:15] KentonWhite commented on #170
Looks like many people are in favour of moving toward `read.csv2`. Since this is a breaking change, I would for now include a warning in the `csv2.reader` detailing the change and advising users to check their csv data. We would remove this warning after sufficient time.

[2017-01-06 17:54] connectedblue commented on #185
Yes, I remember seeing that quote somewhere else on another issue.  I'm beginning to feel its resonance.

So, the debate started about a particular function and led to how to keep integrity of the cache.

I'll raise a PR to add cache validity checking to `load.project`, and I'm sure somewhere we'll also end up with an `is.cached()` function that can be used reliably for multiple purposes.

[2017-01-06 18:48] Hugovdberg commented on #185
I think I'm with @KentonWhite on providing the user with options to recover the cache if invalid. Would it be possible for us to collaborate on rewriting the `load.project`? I have some ideas on how "my" `list.data` function could help making the loading process more efficient, and it doesn't make sense to rewrite this logic twice.

[2017-01-06 19:59] connectedblue commented on #185
You go ahead @Hugovdberg.  I actually would rather  work on the custom templates feature, and I don't really want to get distracted.

Let me know if you have any questions about the cache model - hopefully the code is documented well enough.

[2017-01-08 11:42] #165 closed

[2017-01-08 11:42] #185 closed

[2017-01-08 20:34] Hugovdberg commented on #153
Closed, implemented by PR #178

[2017-01-08 20:34] #153 closed

[2017-01-14 10:17] connectedblue opened #186 "tests fail in master"
I just synced to the latest master and I have some tests fail:

[code]
These are run locally, straight off the `master` branch with no modifications.

I'm not sure how this can happen as the travis checks must have picked this up at the last merge.  Does anyone else see this failure?

[2017-01-14 11:06] Hugovdberg commented on #186
It seems to me that `testthat` isn't always completely catching the errors, especially that `RSQLite` error. I also noticed that sometimes tests seem to succeed or fail depending on whether you run `devtools::test`, `testthat::test_package` or `devtools::check`. Did you experience differences between those?
Perhaps this has something to do with the fact we're messing with the global environment du

[2017-01-14 20:09] Hugovdberg commented on #186
Also, `testthat::test_package('ProjectTemplate', 'create')` produces some failed tests on my system that are listed along the way but not in the final results. Does that happen with you to?

[2017-01-15 10:08] Hugovdberg commented on #179
Let's wait for the new PR indeed.

[2017-01-15 10:08] #179 closed

[2017-01-15 16:03] Hugovdberg commented on #137
I think the remaining problem of multiple/changed variable names being created by a reader is fixed by #187 with the adapted `.load.data` function.

[2017-01-15 16:40] Hugovdberg commented on #66
I'm guessing `options` has been changed to `config` in the meantime. At the moment, `project.info` is the only variable assigned in the global environment *after* the data is loaded, without checking if any variable with that name already exists. The other two are assigned earlier and so a conflicting file will be skipped while loading as the variable is considered to be loaded already. In either

[2017-01-16 15:47] KentonWhite commented on #186
I'm seeing the this error:

[code]

But `testthat` is not showing it as a failure. Reading the comments this seems to be expected behavior:

[code]
So the illegal Thumbs.db is throwing and error, which is printed to the console -- but it is expected that there is an error.

[2017-01-16 16:13] KentonWhite commented on #137
I'll see how #187 processes and see if it fixes this issue.

[2017-01-16 16:14] KentonWhite commented on #66
Good idea. Will this be part of #187?

[2017-01-16 16:26] Hugovdberg commented on #66
I don't think we should add more feature changes to #187 at the moment. Renaming these variables is definitely breaking backwards compatibility, and should be changed in all relevant tests. If no tests exist for these variables, they should be created, so altogether I think we should do this in a separate PR.
I also noticed (so far it is unchanged) that the loaded configuration is both in `config`

[2017-01-16 16:56] KentonWhite commented on #66
I'm not sure.  I'll have to dig into the code to answer that. Good question!

[2017-01-16 20:30] connectedblue commented on #186
I just do `source(tests/run-all.R)`.

I didn't know there were multiple ways to run the tests.  Even if there are different environment issues, it still seems odd why just those tests fail, and moreover why Travis passed them.

Either way, my own development is at a standstill.  I don't want to add new features when tests fail, because you can't see whether it's because of the test, or because of

[2017-01-16 20:47] Hugovdberg commented on #186
Give `testthat::test_package` a try instead of the `test_check` in `tests/run-all.R`, it is recommended for interactive testing (see the help page). `test_check` is recommended for `run-all.R`, but then to be run by `R CMD check`.

[2017-01-16 21:04] connectedblue commented on #186
When I run `test_package("ProjectTemplate") it throws out the following error:

[code]

@Hugovdberg  When you check out `master` and run this command do all your tests pass?

[2017-01-18 18:38] Hugovdberg commented on #186
@connectedblue I checked out `upstream/master` and ran the command `R -q -e "devtools::load_all(); testthat::test_package('ProjectTemplate')" > /tmp/testlog_upstream_master.log` (runs `devtools::test()` and logs everything to a textfile in case you're not a linux guy). The log reports this:

[code]

As I said, I get a lot of warnings, apparently here because I forgot to checking the call to `.read

[2017-01-20 15:46] KentonWhite commented on #186
Interesting. Can you do a `git bisect` and see at which commit these errors started?

[2017-01-23 21:07] connectedblue commented on #186
I checked out `71eafd8a47cf3` on master and ran `devtools::test()`  This delivered no test failures, but only 11 warnings:

[code]

By way of comparison, when you checkout `497d2d574a6421f` from last August, there are no warnings from this command

I think quite a few errors have slipped into the regression pack in last few months which I take responsibility for, and some more have slipped into re

[2017-01-23 22:16] connectedblue commented on #186
I added #188 to address some of the warnings from this tool.

I still experience local issues running the test scripts, but the warnings have disappeared at least.

[2017-03-22 05:18] eribul commented on #170
Thumbs up from a Swedish user (with the same problem).

[2017-03-22 05:41] eribul opened #189 "allow to specify encoding in global.dcf"
# Problem
I sometimes work with data sets containing variable names with non-ascii letters (åäöÅÄÖ).
To handle this and to get scripts reusable over different platforms, I prefer to have my R-files saved with encoding *UTF-8*.
It seems however that `projectTemplate` assumes the system default (I am currently working on Windows), i.e. `ISO-8859-1`. My non-ascii letters will then not be recognised a

[2017-03-27 21:27] KentonWhite commented on #189
Hi @eribul sorry its taken me a while to respond -- you caught us Ontarians during our march break!

I like the idea of allowing a person to specify the encoding.  I'm not sure how to do it either -- it might require adjusting many of the readers to respect the encoding. We also have to consider what to do if a person specifies an incorrect encoding.

Changing the global environment might be clean

[2017-03-27 21:44] KentonWhite commented on #170
Thanks for the thumbs up.  I all for moving to read.csv2 in the future.  I'll start by adding a warning for now.

[2017-03-27 21:44] #170 closed

[2017-03-28 06:09] Hugovdberg commented on #189
I agree with @KentonWhite that setting the encoding globally through `options` is the cleanest if you want it for all files. The only case I can think of that we should implement an encoding option if it would be on a per-file basis, when mixing files with different encodings. But then I think the option should be set in a `.file` file instead of `globals.dcf`.

[2017-04-04 05:04] eribul commented on #189
Sorry again for late response :)
I have now tried to change the global option to UTF-8 but that does not seem to work unfourtenately.

[2017-04-04 05:11] eribul opened #190 ".RData vs .Rdata"
This might not be a bug but I had some trouble to get it to work so mayby the documentation could be clearer.

I often work with projects where I need to rely on output from other pesople and projects. I often use .RData files found on a server. According to http://projecttemplate.net/file_formats.html, I could then have a .file-file like:

[code]

Problem is that ".RData" must be written ".Rdata"

[2017-04-04 13:39] KentonWhite commented on #189
That's too bad.  It would have been the cleanest solution.

Anyone have ideas of how we could better specify the encoding in ProjectTemplate?

[2017-04-04 14:21] KentonWhite commented on #190
@eribul I've made what I think should fix your problem.  It is currently on the master branch of Github.  Can you try out the new code and let me know if it fixes your report problem.

[2017-04-06 04:52] eribul commented on #190
Thanks! Workd great!

tis 4 apr. 2017 kl 16:21 skrev Kenton White <notifications@github.com>:

[2017-04-10 08:36] Hugovdberg commented on #189
I can see two solutions:
 1. Change the readers for text-mode data files to explicitly use the `options('encoding')`. That way at least the global option is respected.
 2. Add a `...` argument to the signature of the readers, and use it to pass custom options from a `.file` file to a reader. This would allow users to overrule specific options for the given reader. This would perhaps require to giv

[2017-04-17 06:43] Fpadt opened #191 "IDEA: Use fst package for loading Cache will boost startup performance"
Dear All,

Who knows how I can get the **fst package** and it functionality build in the ProjectTemplate functionality

I recently discovered the fst Package [fst package](http://blog.revolutionanalytics.com/2017/02/fst-fast-serialization-of-r-data-frames.html )
Would like to use this feature for loading the Cache of ProjectTemplate and Cache each standard file as fst based upon config setting

So

[2017-04-17 21:39] connectedblue commented on #191
Hi @Fpadt

Have you synced with the latest version on github rather than `CRAN`?  There are a number of changes to caching which try and handle things in a smarter way (like only re-caching is something has changed for example to save speed).

It doesn't use `fst`, just the normal `RDS` format.  There could be some portability and speed benefits from migrating to `fst`.

[2017-04-18 15:37] Fpadt commented on #191
thanks will sync maybe I have an old vesion. build somehting my slef using fst and quite happy

[2017-04-19 04:42] eribul opened #192 "cache bug"
I created a project with older version of ProjectTemplate and it worked fine. I then updated the package and got the error message bellow running `cache` on an object that was already cached. The problem was solved by first removing the old cached object and then rerunning the `cache` function again (then a .hash file was created along with hthe cached file etc and everything seems to be in order)

[2017-04-19 04:43] eribul commented on #192
BTW: new version I updated to is 0.7

[2017-04-19 10:18] connectedblue commented on #192
Thanks for reporting @eribul - that is definitely a bug.  The new caching mechanism has new information in a `.hash` file as you discovered, but the user shouldn't be exposed to that.

I'll look into this in more detail.  I think the fix is to do some work in `migrate.project` to fix this automatically.

Can you tell me:  did you run the `migrate.project()` command after you upgraded to the latest

[2017-04-20 19:42] #186 closed

[2017-04-20 21:21] connectedblue commented on #192
Fix submitted to address this issue #194

[2017-04-24 15:56] KentonWhite commented on #192
@eribul The fix has been merged into master.  I'm closing this issue and if the fix doesn't work for you please feel free to reopen!

[2017-04-24 15:56] #192 closed

[2017-05-14 16:40] connectedblue opened #197 "Multiple list.data tests break on Windows"
Hi @Hugovdberg
There are a lot of tests that fail when they are executed on a windows machine.  I'm struggling to test a new feature before submission.

I'm not sure exactly what the tests are doing, but the failure report below looks like there is some kind of file path separator issue with an extra `\\` that appears and causes the tests to fail.

Is it possible to fix the tests so they run cross

[2017-05-14 17:09] connectedblue opened #198 "Query on list.data() function"
Hi @Hugovdberg

I'm playing with the new `list.data()` function and I'm struggling to understand it.

Could you give me some pointers?  This is the output I get from one of my current projects:

[code]
Basically, I have a couple of `.R` files which get some data through an API and some standard `.csv` files in the sub directories shown above.

My questions on the output of `list.data()` are:
* Why

[2017-05-14 17:21] Hugovdberg commented on #197
interesting, both `filename` and `varname` are affected. I will check to see what's going on internally.

[2017-05-14 17:57] Hugovdberg commented on #198
1. All files and folders are shown because it's partially a debugging tool. If you had expected a file to be loaded but it isn't, you can see from this output that that happens because no suitable reader was found. You are correct in assuming that those will not be loaded, but we cannot simply throw out all lines without a reader since variables that are available in cache only will not have a rea

[2017-05-14 18:25] connectedblue commented on #198
Ah, OK.  I have to say, I think the average `ProjectTemplate` user would be mystified by the output of this function as it is, so I'm not sure they would use it as a debugging tool.  It might be more usable if it output a human readable narrative of what was loaded, but as it stands today, I think it would be better not to expose as an external function.

Just to check on the logic of the internal

[2017-05-14 18:27] connectedblue commented on #197
thanks .. let me know if you have a branch you want me to test against.

[2017-05-15 20:17] KentonWhite commented on #198
When I reviewed I didn't see any of the basic rules changing.  If we notice one lets file an issue.  The use case I can see for this is when people are reporting bugs with the caching -- useful for checking if it is an issue with the code or their set up.

Closing for now.

[2017-05-15 20:17] #198 closed

[2017-07-07 20:10] rsangole opened #201 ".RProj creation"
I'm requesting a feature in the `create.project()` function that also creates a ProjectName.RProj file (and associated files) to the root folder?

I use ProjectTemplate reguarly now with RStudio, but since the function doesn't create a .RProj itself, it's a two step process for me today - i. Call create.project, and ii. Create a new R project within existing directory.

The advantage of making the

[2017-07-10 14:28] KentonWhite commented on #201
@rsangole This sounds like a very nice feature.  I don't use RStudio personally but do know that many of our users do.  I'm not super familiar with how the .RProj file is supposed to look.  Could you start a pull request with a new folder `inst/defaults/rstudio` that is a copy of `inst/defaults/full` and then place in that folder the .RProj file you would like and where it should be in the directo

[2017-07-10 15:18] rsangole commented on #201
Will do, cheers!

[2017-07-10 22:28] rsangole commented on #201
Sent you an email, cheers.

[2017-08-10 14:01] NanisTe opened #203 "Encoding issue in munge script"
Hi,

following problem exists.

When I use "äöü" in my R scripts they run perfectly fine in RStudio but for example in the munch script the ProjectTemplate does not like it and throughs an error. It is pretty unusable for me.

`Autoloading data
 Loading data set: Data.DE
 Loading data set: Data.FR
 Loading data set: Data.IT
Munging data
 Running preprocessing script: 01-Prepare Zusagen Data.R
Erro

[2017-08-10 14:28] KentonWhite commented on #203
@NanisTe This is useful to know.  It is confusing that the script runs fine for you within R but has an error when you run it through ProjectTemplate.  ProjectTemplate is not doing any additional processing than "sourcing" the munge script.

Can you help me figure out what is happening please.  After loading the data with `load.project()` and getting the error above, can you try running `source('m

[2017-08-11 07:28] NanisTe commented on #203
I will try to test that. But I think I figured out what was the problem. It all started with the problem that the read statements in ProjectTemplate seem not to use the right encoding. So all the äöü characters and also french characters from my csv or excel files where parsed wrong.

So I tried to change the encoding within the RStudio since there was no option to change the encoding in ProjectTe

[2017-08-11 13:32] KentonWhite commented on #203
Ah!  It is keeping the encodings when reading them from a data file.  I run into this problem myself (quite a bit of French language processing).  At this time it is a problem that doesn't look like it can be solved with a global configuration.  What must happen is that the `read.csv()` command is passed `fileEncoding=latin1`.  If no encoding is passed, `read.csv()` will not default to the encodin

[2017-08-24 07:00] Hugovdberg commented on #203
A `latin1` directory isn't a very clean solution I think, before we know it we have `UTF-8`, UTF-16`, `ISO 8859-7` etc.
I think the `encoding` flag in `global.dcf` is the best way to go, much like proposed in issue #189, provided we allow an override through a `.file` file with specific settings for a single file. This might create some more work for a user with files in 20 different encodings, bu

[2017-08-28 18:00] rsangole opened #204 "Save and retrieve customized global.dcf"
I would like to request a feature to save a user-customized version of global.dcf someplace. For each project I create, I end up editing the libraries portion of the file and add all my go-to libraries. It's a pain to do everytime, so today, I first open an old project and copy-paste global.dcf into my new project. A bit cumbersome, and some thing we can program our way out of.

[2017-08-28 18:06] rsangole opened #205 "Replace dplyr, ggplot2, stringr with tidyverse"
What are your thoughts in replacing these individual packages with tidyverse? Today, tidyverse will automatically import the core tidyverse packages:
    ggplot2, for data visualisation.
    dplyr, for data manipulation.
    tidyr, for data tidying.
    readr, for data import.
    purrr, for functional programming.
    tibble, for tibbles, a modern re-imagining of data frames.

Anyone working in t

[2017-08-28 18:08] Hugovdberg commented on #204
There is work underway to create custom templates, which includes the
`global.dcf`, perhaps @connectedblue can give an update on his work.

Op 28 aug. 2017 20:00 schreef "Rahul S" <notifications@github.com>:

[2017-08-28 20:29] connectedblue commented on #204
Hi all,

Yes, this use case and others would be easily accommodated with the work I have done on custom template. In fact, that's exactly the reason why I wanted to build this feature.

My progress so far is mixed.  I submitted an initial version which @kentonwhite pointed out would not pass CRAN checks because it wrote files to the R lib directory. We briefly discussed whether it would be possibl

[2017-08-29 13:27] rsangole commented on #204
@connectedblue Thanks for the update. Perhaps one solution is as follows: we develop and maintain a curated list of packages, perhaps a few lists each with a different purpose. These lists could be developed by user surveys or by analyzing existing projects on github. The lists could be selectable in the `create.project()` as well as via a new function, say `load.libraries()`.

For example:

1. Fo

[2017-08-29 15:05] KentonWhite commented on #205
I happy with that idea.  It should be simply a matter of changing the default config file in the `inst` directory.  Would this be something you could make a pull request for?

[2017-08-29 15:08] rsangole commented on #205
Yep, simple enough. I'll get it done today.

[2017-08-29 15:11] KentonWhite commented on #204
Maybe we are overthinking this.  While CRAN doesn't like packages that write files to directories the package doesn't own, we could still save common config files in our home directories and then pass the path to `create.project()`.

@connectedblue can we use your modifications just without the write function?

[2017-08-29 15:36] KentonWhite commented on #204
Unfortunately there is an historical issue with CRAN having packages writing to arbitrary directories.  If this was universally allowed, it would be possible for a package on CRAN to infect machines with viruses and trojans!  We can explain to CRAN why we need to write to a directory -- it just slows down the process. If we can make a solution that doesn't require writing more files that would be

[2017-08-29 18:36] connectedblue commented on #204
@kentonwhite it certainly is possible to have a basic custom template feature without writing to any directory - it involves an environment variable pointing to a pre existing config file containing details of the template. This config file is dcf format and would have to be coded by hand (my version provides some helper functions to add entries and also a default template option).

I also have a

[2017-08-29 18:45] rsangole commented on #204
Thanks @KentonWhite and @connectedblue for the quick responses on this request. @connectedblue , if you'd like to collaborate on any codes etc, please reach out... would be happy to help.

[2017-08-29 18:48] Hugovdberg commented on #204
@connectedblue what do you need the configuration for? The project goes by the motto of 'convention over configuration', how exactly do you see these small blocks being used? To me a custom template would simply be an empty directory structure (with at least a number of fixed directories) in which you store your commonly used `global.dcf`, and perhaps one or two default helper scripts. As @rsangol

[2017-08-29 19:27] connectedblue commented on #204
You're right @hugovdberg.

It's probably easier if you submit your version.

[2017-08-30 12:59] Hugovdberg commented on #204
@connectedblue I submitted a pull request, I hope I didn't offend you with my criticism. I realised there could be merit to adding github support, but only for `create.template` to download a complete template from a repo. Could you check see if support for this feature could be added to the new functionality as it stands and otherwise suggest how `create.template` should be changed such that GitH

[2017-08-30 15:08] rsangole commented on #205
@KentonWhite I'd also like to propose shifting from reshape to reshape2 given the performance increases in Hadley's package.

[2017-08-30 15:50] KentonWhite commented on #205
That is a good idea.

[2017-09-04 15:55] benchoufi opened #208 "compatibility with shiny"
hi,

Is project template format compatible with  shiny app deployment ?

Best regards

[2017-09-05 13:00] KentonWhite commented on #208
@benchoufi short answer is no.  TL;DR is that Shiny uses reactives to load data when it is needed; ProjectTemplate loads data all at once.

 I've tried wrapping ProjectTemplate in a reactive so that it can continuously refresh the data.  This significantly slows Shiny down, since all of the data is being loaded at once.  To make this truly work, the load and munge steps should be rewritten as reac

[2017-09-05 13:00] #208 closed

[2017-09-05 22:43] benchoufi commented on #208
thank you @KentonWhite for your complete response. I would be delighted to contribute, coming from the `java` world, I am not that much skilled in `R`.

Regards,
Mehdi

[2017-09-06 18:54] #205 closed

[2017-09-08 14:09] rsangole opened #209 "Feature Request: Selective cache/data loading routine"
I have a project where I'm dealing with a few large datasets in memory (30million+ rows). Since reading in the raw files and the processing operations are computationally expensive, I'm using the cache feature to save some intermediate dataframes and results. The challenge is I have a 3-4 datasets which are ~500MB to 5GB each.

Depending on where I am in my workflow, I only want to load one of the

[2017-09-09 13:28] Hugovdberg commented on #209
The `data.ignore` option in `global.dcf` was designed for that purpose, it
can also be given in the optional list argument to `(re)load.project`.

Op 8 sep. 2017 09:09 schreef "Rahul S" <notifications@github.com>:

[2017-09-11 17:17] rsangole commented on #209
@Hugovdberg is this documented somewhere? I don't recall reading `data.ignore` someplace... I'm sure I've missed something.

[2017-09-11 20:26] KentonWhite commented on #209
It should be documented on the ProjectTemplate website.  I still need to push the latest (v0.8) changes to the website.

[2017-09-11 23:36] rsangole commented on #209
Ah, okay, let me know once it's up @KentonWhite

[2017-09-13 18:49] Hugovdberg commented on #209
For now you can also look for `data_ignore` in `mastering.markdown` in the website directory of this project. It's perhaps a little hard to read, but you can already get started.

[2017-10-03 14:10] Hugovdberg opened #210 "`create.project` fails even on full path when inside an existing project"
I noticed an error with `create.project` when creating a project specified by a full path, when the working directory is set to a ProjectTemplate project directory. Even though a full path to the new template is specified the `.stopifproject` error is triggered.

How to reproduce:

- Create a project directory using `create.project`
- Set working directory to the new project
- Create a project dir

[2017-11-06 18:14] MattForshaw opened #211 "Contributions to ProjectTemplate documentation"
Hi everyone,

Thank you for your ongoing hard work on ProjectTemplate.

At the end of the Getting Started guide is the following sentence:

	In a future piece of documentation, we’ll describe some of the more advanced features that ProjectTemplate offers.

I would like to be able to contribute to ProjectTemple by building additional documentation, but before embarking on this, I wanted to check if

[2017-11-07 15:12] KentonWhite commented on #211
Thanks @MattForshaw for your offer.  We do love having documentation contributions.  There isn't a list of features that are prioritized for documentation.  If you could make a list of what features you think should be added to the documentation and then we can discuss priority.  Is that fair?

[2017-11-14 05:30] lf-araujo opened #212 ".table data"
Thank you for the amazing tool.

Would it be possible to add support for .table files?

Some old Freesurfer files are only loaded with `read.table()`.

Edit: I tried to make a pull request for this, let me know if I did that properly. I am new to github.

[2017-11-14 06:10] lf-araujo commented on #212
Unnecessary, the tsv format works well in these files...

[2017-11-14 06:10] #212 closed

[2017-11-14 06:24] lf-araujo opened #213 "Install package if not yet installed"
I made a very clean pull request to add the ability to check whether the package is already installed before loading. The problem is I am new to github, and I don't know if the pull reached you. In any case, below is the code if you guys find interesting incorporating it (tested and working locally):

[code]

[2017-11-14 06:52] Hugovdberg commented on #213
The `require.package` function that was originally in that code snippet should do that already. Note that it says `require.package`, which is defined in `require.package.R`, and not `require` which is in `base`.
Did you experience any issues with automatic installation prior to your change to the package? If so, could you change this into a bug report with a clear description of the case in which

[2017-11-14 06:58] Hugovdberg commented on #213
Besides, you made the pull request against your own GitHub repository, instead of against this master repo. Usually the create pull request functionality automatically selects the correct base version to commit to, did you change any settings in that screen?

[2017-11-14 10:40] lf-araujo commented on #213
Ha! I knew I was doing something wrong! So the tool already support installing packages before loading? I will report back with bug report if the issue is still there..

Thanks anyways...

[2017-11-14 10:40] #213 closed

[2017-11-27 04:53] rsangole commented on #201
Hello, following up on this request; lost track of time. (But, the feature is still really useful!)

[2017-11-27 04:54] rsangole commented on #211
@MattForshaw I use project template almost everyday. To that end, I can do my part and contribute in the documentation as well. Can follow your lead if you have a prioritized list of features that need documentation.

[2017-11-27 04:55] rsangole commented on #209
@KentonWhite @Hugovdberg following up on this old request - if the v0.8 is pushed to the website, shall I close this request out?

[2017-11-27 08:28] Hugovdberg commented on #201
Could this be solved by pr #206? Perhaps it should be amended to rename the
.rproj file if it exists in the template. Rstudio will always show the
directory name as the project name so it isn't technically necessary to
rename the file.

Op 27 nov. 2017 05:53 schreef "Rahul S" <notifications@github.com>:

[2017-11-27 10:45] rsangole commented on #201
Yea, I don't see why not. We can create a default template which hosts a basic .RProj file, and write a small function to rename it to the project name. Fits well within #206 framework.

[2017-11-27 15:02] KentonWhite commented on #209
Don't think v0.8 has been pushed yet.  Will check and push if required.

[2017-11-27 16:52] Hugovdberg commented on #36
This issue can be closed since #206 was merged. It is implemented as `template = 'full'`, with the option of creating your own templates.

[2017-11-27 16:53] Hugovdberg commented on #204
This issue can be closed since #206 was merged.

[2017-11-27 21:32] #36 closed

[2017-11-27 21:33] #204 closed

[2017-11-27 22:25] Hugovdberg commented on #211
I just updated some of the changes I had in mind for the documentation on the website. I think the following sections still need work:

- [ ] Expand "Introduction"
  - [ ] What is ProjectTemplate
  - [ ] How does ProjectTemplate work
    - [ ] Explain convention over configuration philosophy
    - [ ] Minimal usage example
  - [ ] Basic installation, plus link to separate page
  - [ ] What is Proj

[2017-11-28 06:52] Hugovdberg commented on #211
I just saw this video about creating good documentation: https://www.youtube.com/watch?v=azf6yzuJt54 We might consider to restructure our documentation that way, because it helps us to create structure within the current website.
The technical reference is kept pretty clean, so we might not need to add that on the website, although the contents are not easily browsable from the webbrowser.

[2017-12-01 10:58] Hugovdberg commented on #190
@KentonWhite This issue should be closed.

[2017-12-01 15:31] #190 closed

[2017-12-01 16:11] Hugovdberg commented on #201
I would suggest not to add another builtin template but either leave it up to the user to create his or her own custom template if an .Rproj file is necessary, or always add the .Rproj to the `full` template. The main advantage of putting it in the custom template is that we avoid discussions on whether we want 2, 4 or 8 spaces by default, want to add a new line at the end of the file if it's miss

[2017-12-02 11:25] Hugovdberg commented on #77
Fixed with #207, should be closed

[2017-12-04 15:24] #77 closed

[2017-12-11 13:29] rsangole commented on #201
That's fair, and it solves the problem at hand.

[2017-12-13 16:35] pomalley08 opened #215 "Add Tibble configuration"
Is it possible to add an option to the configuration file to read in data frames as tibbles? I'm thinking this would be similar to the existing option to read in as a data.table. Or would this be best handled in a munging script?

[2017-12-13 17:12] KentonWhite commented on #215
I'm not familiar tibbles, but it sounds like it should be possible.  Would you be able to try adding the feature as a pull request?

[2017-12-13 17:52] pomalley08 commented on #215
Sure, I'll take a look at it.

[2017-12-14 16:56] Hugovdberg commented on #215
A tibble is essentially a `data.frame` with a nice print function associated with it. The print function makes sure only as much data is shown as actually fits within the console, and prints helpful info about what's left out.
I think this is a great addition! Should we perhaps not even make it optional, just apply `tbl_df` on all variables? A `data.table` really behaves differently from a normal

[2018-01-07 09:47] lf-araujo opened #216 "Install package if not already installed - second attempt"
Following [this](https://github.com/johnmyleswhite/ProjectTemplate/issues/213) discussion. Does ProjectTemplate also installs a package that is not already installed?

In the link above I suggested a small code change to check if a certain package listed at the config file is already installed and if not, install it. However, in that discussion @Hugovdberg told me that this is built in to the pack

[2018-01-07 12:28] Hugovdberg commented on #216
It is really strange it doesn't install the packages automatically. If you run `load.project`, does it warn you that the packages couldn't be installed? If you take a look at [`R/require.package.R`](https://github.com/johnmyleswhite/ProjectTemplate/blob/master/R/require.package.R) (which contains the function that should load and install if necessary it contains code similar to yours. As I said be

[2018-01-07 23:17] lf-araujo commented on #216
Thank you for your answer. Digging a little more into the problem I now suspect it is not related to ProjectTemplate, but to how I manage my reports. Instead of working with R scripts, I do all my research with Rmd files. When I run knitr in RStudio the error occurs, when I run the particular chunk, it disappears.

Will post down here in case someone come across this error as well, or in case some

[2018-01-07 23:24] Hugovdberg commented on #216
Thanks for the information. I'm glad to hear it is (probably) not a `ProjectTemplate` error, though if you can trace it back to something we should fix or could improve in your workflow then please let us know. I experienced some issues with `ProjectTemplate` and `knitr` as well, I'll look into it if have some spare time!

[2018-01-22 15:09] rsangole commented on #215
I think this is a great idea. Tibbles do have other advantages vs conventional dataframes. I would refer readers to http://r4ds.had.co.nz/tibbles.html

[2018-01-22 16:10] pomalley08 commented on #215
I looked into adding this feature, but it's a bit beyond my ability at this point. Someone else can try if they are interested.

[2018-01-22 16:37] rsangole commented on #215
@Hugovdberg Yes. I think making `tibble` the default (and perhaps the only option) is not a bad idea, given where R is headed in terms of using the `tidyverse`. Having said that, we can keep existing code under an option `return_data_frame` to keep backward compatibility for existing code.

[2018-01-22 19:19] Hugovdberg commented on #215
@rsangole I don't think we really need to keep an option if it doesn't conflict with `data_tables` (although we could simply don't apply `as_tibble` if `data_tables` is `TRUE`). I'd rather add it to version 0.9 and list the change in `migrate_project`.
@pomalley08 I could add the functionality, but if you'd like I can give you a few pointers first if you would like to learn how to get involved?

[2018-01-22 19:23] Hugovdberg commented on #211
I haven't done anything about the documentation recently, perhaps it's even easier if you just pick an item to update and mark it as done on the list. If you think you're making bigger changes that might conflict with other people's efforts then just shout out ahead of time ;-)

[2018-01-22 19:25] KentonWhite commented on #211
We're chipping away at this slowly.  Every month or so I get someone who wants to help with documentation and can point them to this list.  Any help on this is greatly appreciated!

[2018-01-22 19:35] rsangole commented on #215
Ok makes sense.
@Hugovdberg between you or @pomalley08 , whoever makes the changes, could you put a few notes on where you made the change here? I'd like to learn a bit more on the code structure too.

[2018-01-23 17:02] pomalley08 commented on #215
@Hugovdberg I appreciate the offer, but unfortunately I don't have the time to commit to this right now.

[2018-01-27 15:44] rsangole commented on #211
I have adopted project-template fully for my R projects. I teach it to my team at work too. (We might fork it and make customizations specific to our application). Perhaps I can put together a vignette or blog-post to show how I use it in a real-world project.

[2018-02-02 14:35] maikol-solis commented on #211
It's a great idea. For example, I'm lost with the `cache` functions. I don't know where to invoke it in my projects.

[2018-02-04 16:55] rsangole opened #220 "Feature Req - Projects, Wiki"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

Creators,

Could you enable the creation of "projects", "tasks", and "wikis"? We have quite a few issues open which are feature requests, and there are a good n

[2018-02-05 09:59] Hugovdberg commented on #220
As far as I know it isn't possible to allow creating projects without giving write permissions to the repository. I think it would be more useful to ask for a specific project.
For example, I was working on a proposal to convert `ProjectTemplate` to the `tidyverse`, which could definitely benefit from a project to organise all the different tasks that need to be done for the conversion (and then I

[2018-02-05 10:00] Hugovdberg commented on #211
@rsangole What kind of changes would you like to make that requires a separate fork from the main project?

[2018-02-05 14:24] rsangole commented on #220
Well, I was thinking even from the point of view of the organization of to-dos, the issues, and their status. For ex, as done in this repo. I'm not sure how to navigate the permission space though, if that's a concern.

When you say convert `ProjectTemplate` to `tidyverse`, do you mean convert all the internal functions to those from the `tidyverse`?

[2018-02-05 14:27] rsangole commented on #211
@Hugovdberg Quite a few customizations actually. I'm using this format to develop projects that might go into a more 'production' environment. So along with /src/ for the source files to call, I need additional folder structure for error & log files, intermediate calculation outputs and final outputs, plots and algorithm performance metrics. I'm standardizing these structures within my team. Furth

[2018-02-05 14:55] Hugovdberg commented on #211
@rsangole That sounds like you don't actually need to fork the project, but just need to create a custom template (using the new `create.template` function) ;-)

[2018-02-05 14:56] Hugovdberg commented on #220
That's what I was thinking about, but I'll write the proposal from scratch in a new issue.

[2018-02-05 19:00] rsangole commented on #211
Ah, alright. I've yet to explore that function. I'll look at it over the weekend.

[2018-02-05 21:00] KentonWhite commented on #211
@maikol-solis Thanks for joining us.  Actually your questions about the `cache` function would be great.  There should be documentation on [caching](http://projecttemplate.net/caching.html).  Since we are so familiar with the project, it is hard to see what is confusion.

Could you help us by commenting on what is confusing for you and we can update the documentation there.  It would be great if y

[2018-02-07 14:39] rsangole commented on #220
@KentonWhite @johnmyleswhite When you get some time, could you look into creating a "project" structure we could work in? Something like [this ](https://github.com/glue-viz/glue/projects/3)or [this](https://github.com/rsangole/tidyrabbit/projects/1) (or perhaps try enabling it for a few of us?)

@Hugovdberg Sounds good. Let's collaborate and get this done.

[2018-02-07 16:34] KentonWhite commented on #220
@rsangole Will try to look at it this weekend.

[2018-02-16 10:14] Nicolabo commented on #216
I also have a problem with packages not installed locally when executing `load.project()` in .Rprofile.
When open .Rproj file and then, in console, I execute `load.project()` fun, everything goes well. However, when I add `load.project()` in .Rprofile, the whole installation process just loops in and it doesn't stop it. Below you can find my .Rprofile.

[code]

Do you see this problem before?

[2018-02-16 14:16] KentonWhite commented on #216
@Nicolabo is it possible to provide a log when you are loading the `.Rprofile` file?  My first instinct from reading your file is that you are bootstrapping an environment, using ProjectTemplate to install packages.  It is possible that a package or ProjectTemplate is waiting for input, such as selecting am installation directory or configuring a package.  My understanding is that the `.Rprofile`

[2018-02-16 15:37] Nicolabo commented on #216
I just to run `Rproj` file in terminal thus I see what happens. Of course, when I normally try to open `Rproj` file by clicking, it just hangs.
So use `R xxx.Rproj` command and you will notice that the whole installation process loops in.

Regarding the `.Rprofile`, I found the [question](https://stackoverflow.com/questions/17938446/for-loop-in-rprofile-calls-itself-recursively) on stackoverflow.

[2018-02-16 15:44] KentonWhite commented on #216
@Nicolabo I agree that including `load.project` in the '.Rprofile` would be a convenient feature!  Just to confirm, you believe the loop is an artifact of `install.packages` reloading the `.Rprofile`?

[2018-02-16 15:51] Nicolabo commented on #216
Yes. For example [here](https://stackoverflow.com/questions/10610067/installing-packages-upon-starting-r-session).

[code]

I think because of it, additional check with `installed.packages` works fine

[code]

So it will work, if you just don't install `ProjectTemplate`. It will not loop in. The problem is with packages listed in `config/global.dcf`.

[2018-02-16 16:40] KentonWhite commented on #216
Looks like `require.package` makes a call to `install.packages` without checking if the package is in `install.packages`.  Adding the gate should fix the problem.

[2018-02-16 17:58] Hugovdberg commented on #216
You can put this in your `.Rprofile`:

[code]

All in all this isn't a problem with `ProjectTemplate` but in your configuration. Bluntly calling `install.packages` in `.Rprofile` means it is installed every time you start R, and if it restarts R afterwards then that causes an infinite loop. Also by defining `.First()` you make sure that `.RData` is loaded before `load.project()` is called.

@Kento

[2018-02-16 23:38] Nicolabo commented on #216
Maybe I miss something but you focus on `ProjectTemplate` .We talk about packages from `global.dcf`. The problem with `ProjectTemplate` is solved by the code I added before.

[2018-02-17 07:45] Hugovdberg commented on #216
Well I just don't think `.Rprofile` is the place to call `load.project` because you're running that code before load sequence of R is finished. So by putting it in a function `.First`, defined in `.rprofile` you at least move it to the end of the load sequence for more predictable results.

How many packages are you trying to install through `load.project`? Because if you are installing the `tidyv

[2018-02-18 08:40] Nicolabo commented on #216
my `global.dcf` file:

[code]

and my `.Rprofile`

[code]

I tested several options with `libraries` argument, and below I present my conclusion:

Example project with these `libraries` will install normally:

`scales, stringi, data.table`
`scales, stringi, ggplot2, bindrcpp, rmarkdown`

Also, this example works
`scales, stringi, data.table, rmarkdown`

However, once I change the order in `global.

[2018-02-18 19:11] Hugovdberg commented on #216
This seems to show that not all dependencies are installed correctly (especially `tidyverse` is just a shortcut to installing and loading a list of dependencies with dependencies of their own, each recursively calling the load sequence again). I cannot tell you why this happens during the loading sequence of R, and not once R is fully loaded.

I still feel that trying to do this while R is still c

[2018-02-20 09:42] AljoLe opened #221 "Feature Req - selective munging"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") : [ ] bug report [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") : [ ] 1 [ ] 2 [x] 3

3. Low - Minimal impact. Issue is an annoyance, but I can get work done. This indicates the problem causes little impact on operations or that a reasonable circumvention to the problem has been im

[2018-02-20 09:59] Hugovdberg commented on #221
There is the possibility of adding [project specific configuration](http://projecttemplate.net/configuring.html#project-specific-configuration). You could add some options in `lib/globals.R` and add a test in each mungescript if it should be run. This allows you to create your own options with a meaningful naming convention that makes sense to your project instead of ignoring a few files. Do you t

[2018-02-20 10:01] Hugovdberg commented on #221
At this point it isn't possible to add custom options to the `override.config` argument of `load.project`, but perhaps we could remove the check so you can actually override your settings from `lib/globals.R`.

[2018-02-20 10:38] AljoLe commented on #221
Thank you for the hint with `lib/globals.R`!
It works, but it is more a workaround, than the functionality I intended.
It would still import every data set, which is in `data/` (Which is intended and another thing), but I am looking for a more dynamic approach in the project.
We have lots of different kind of data and normally I´d run a script to import the data from `raw-data/`, make sure everyth

[2018-02-20 14:56] KentonWhite commented on #221
I think it should be possible to expose functions that do the data loading, data munging and data src scripts separately.  These functions are already exposed as helper function for `load.project()`.

@AljoLe would adding something like `load.data()`, `load.munge()`, and `load.src()` help?

[2018-02-21 08:43] AljoLe commented on #221
Hello @KentonWhite,
thanks for the fast reply and yes, I think this approach would be exactly what I was looking for.

[2018-02-23 09:29] Hugovdberg commented on #221
When we expose the separate steps for loading the project there still isn't an option to specify which munge scripts should be run. The data and munge steps can be run separately using the options `data_loading` and `munging`, but for specifying the munge scripts there is no option yet. The scripts in `src` aren't run automatically anyway.
I think it would be more convenient to remove the check in

[2018-02-23 14:28] KentonWhite commented on #221
Or if we did expose a `load.data()` and `load.munge()`function, could we have them read `lib/globals.R`?  I agree that a `load.src()` doesn't fit (sorry I wrote that!).  `src` folder is meant for one-off scripts.

[2018-02-23 15:05] Hugovdberg commented on #221
Could you write some example code how to run certain munge scripts selectively in your proposed solution? Because to me it still seems that exposing the `load.munge` function alone doesn't solve the problem which munge scripts are actually run. There is indeed an extra complication that exposing the functions separately must perform parts of the load sequence, at least loading the configuration. O

[2018-02-25 20:11] KentonWhite commented on #221
I wasn't thinking of loading individual files separately, just breaking out the steps.  So you could run `load.data()` and it would be equivalent to running `load.project()` with `munging` set to `false` in the configuration file.  Similarly, running `munge.data()` (like that name!) would be equivalent to running `load.project()` with `data.loading` and `cache.loading` set to `false`.  Both functi

[2018-02-25 20:34] KentonWhite commented on #216
I've been thinking about this.  `ProjectTemplate` is not a package management system.  Loading the packages at runtime is a convenience but not the purpose of `ProjectTemplate`.  There are packages that are devoted to package management, like https://github.com/rstudio/packrat.  If loading from `.Rprofile` is absolutely necessary, I think setting `load_libraries` to `false` in the `global.dcf` fil

[2018-02-25 20:49] KentonWhite commented on #220
Sorry been away.  I've created a basic project using the Kanban template.  Can add additional cards if you wish.  I didn't enable automation.  Let me know what tweaks you would like here.

[2018-02-25 22:57] lf-araujo commented on #216
Dear @KentonWhite thank you for letting this issue open. I understand that ProjectTemplate is not a package management system, however I wanted to add my insight into this request.

Under the point of view of reproducible research ProjectTemplate is already a very powerful tool, as I can simply on-forward the folder structure, for easy audit from other authors/colleagues. They have, however, to in

[2018-02-26 07:17] Hugovdberg commented on #221
I can see a use case for selectively applying munge scripts from a custom template if not all data is available at the start of the project. Perhaps the first statistical analysis determines what physical analyses to perform next.
But I agree that `ProjectTemplate` is meant to be run as a unit, so that's why I suggested to make it easier to override `lib/globals.R` from `load.project`. That way en

[2018-02-26 09:07] AljoLe commented on #221
Hello everybody and thanks for the nice discussion.
I hoped that we could run analyses separately, because we determine, as @Hugovdberg said, which analyses to run based on the first inspection. The option to switch an analysis on or off with `load.project(list(run_maSigPro = FALSE))` is a nice way to have everything in one place and to decide which script should be used when it is possible to ove

[2018-02-26 10:55] KentonWhite commented on #216
`ProjectTemplate` **does** install packages that are not already installed.  This issue is around packages that are not installing correctly.  The current implementation is a convenience and not a proper package manager.

Reproducible research is important.  `ProjectTemplate` has a key role in reproducible research - providing a unified framework for data loading, munging, and reporting.

A second

[2018-02-26 11:02] KentonWhite commented on #221
Thanks.  I do understand better now the problem.  We'll need to think about how to expose individual munge scripts.  I can see the utility.

Let me play devil's advocate for a moment - not to belittle the idea but to better understand it.  Why can't this custom processing be handled in a `src` script?  If after loading the data you determine that analysis B should be run instead of analysis A, why

[2018-02-26 13:13] Hugovdberg commented on #221
I will try to fix `load.project` to allow to override custom configuration as well later this week. I think we can change the signature of `load.project` at the same time to take a `...` argument instead of a list, so you can customize the settings as `load.project(run_maSigPro = FALSE)`.

[2018-02-26 17:05] AljoLe commented on #221
@KentonWhite `source('src/analysis_B.R')` would do the trick, when all of the munging would be there too, but that is not the case and, I hope I get that right, the ProjectTemplate philosophy wants to have munging and src in different places.
We created a munging script for each src script, so it can be as modular as possible. Sometimes we don´t have all data, or just want to run certain analyses,

[2018-02-27 07:56] Hugovdberg commented on #221
Hmm, I missed the remark by @KentonWhite, I think we don't actually need to implement a change specifically to make a selection of the munge scripts. By allowing easy override of custom configuration users can implement this themselves however they see fit. Since the munge scripts are sources as normal R code, the scripts can determine from the configuration whether they should be run or not.
We c

[2018-03-03 22:46] Hugovdberg commented on #221
@AljoLe I changed `load.project` to be able to override configuration from `globals.R`, you can test the code by checking out https://github.com/Hugovdberg/ProjectTemplate/tree/override_globals_R (to install it directly use `devtools::install_github('Hugovdberg/ProjectTemplate@override_globals_R')`). Please let me know if this works for you by replying to the pull request #222.

[2018-03-05 21:03] KentonWhite commented on #221
PR has bee merged.  Closing the issue now.  Please reopen if there are new issues.  Thanks!

[2018-03-05 21:03] #221 closed

[2018-03-05 21:03] KentonWhite commented on #216
Thanks everyone for the discussion.  I'm closing this issue for now.  Please feel free to reopen if there is something new.

[2018-03-05 21:03] #216 closed

[2018-03-06 15:22] rsangole commented on #220
@KentonWhite Thanks for looking into this & creating the board. Looks like it's restricted for editing for us collaborators. Could you open that up in any way?

[2018-03-06 18:21] KentonWhite commented on #220
At the moment this is a problem.  I'm asking if I can transfer project ownership to myself.  If that happens I should be able to provide access to the ProjectBoards.

[2018-03-08 11:29] eribul opened #223 "Support .rds files in data folder"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

Possibility to use RDS files in .files-files for data

##### Current Behavior
[code]
Also
[code]
shows that RDS-files are not supported

[2018-03-13 11:50] Hugovdberg commented on #215
@rsangole I just remembered that I would describe the changes I made to implement this. There are several links to the lines in `load.project.R` to see which point in the code I'm referring to.

Some time ago I refactored the `load.project` function a little so it is more self-explanatory. As you [can see](https://github.com/KentonWhite/ProjectTemplate/blob/6064c4f0effb4b422ab5189bfa90ee5dd4898110

[2018-03-14 23:35] rsangole commented on #220
@KentonWhite OK. If you can do so, I'll be happy to contribute on the boards and help manage some of the new feature implementations.

[2018-03-14 23:42] rsangole opened #225 "Feature Request - Feather format for cache files"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

I recommend adding the option of using the `feather` file format as an option when we cache dataframe objects. Read about `feather` [he

[2018-03-14 23:48] rsangole opened #226 "Feature Request: Add-Ins for quick access to functions"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

I would like some of the common functions to be added into an add-in. Some examples of excellent add-ins which add value from other pac

[2018-03-15 09:46] Hugovdberg commented on #225
Since the cache files shouldn't be accessed by users on their own I would rather stick to the convention over configuration philosophy and just introduce it as the default if it provides all functionality we need. It sounds pretty awesome, and like something I could really use in my day to day work 👍
Also, we really need a reader for `feather` files in that case.

[2018-03-15 09:59] Hugovdberg commented on #226
I guess you are suggesting an addin for RStudio? The [documentation](https://rstudio.github.io/rstudioaddins/) looks like this should be not too hard to implement.

I would add two addins:
 - 'Load project': call `require(ProjectTemplate); load.project()`
 - 'Reload project': call `require(ProjectTemplate); reload.project()`

[2018-03-15 11:18] rsangole commented on #225
@Hugovdberg the `feather` package has simple functions `write_feather` and `read_feather` which work great.

I don't disagree with the default options of `cache` (since `feather` can only deal with dataframes anyways, it cannot deal with other R objects), but a choice for users of the package who have to deal with large datasets would be extremely useful. Thus I'm proposing that `cache('name', fea

[2018-03-15 11:19] rsangole commented on #226
Yep, exactly right. I'll work on this over the next week or so and see if I can get a PR out.

[2018-03-15 11:20] rsangole commented on #226
Other users of this package - what other add-ins would you like to see?

[2018-03-15 12:07] Hugovdberg commented on #223
This issue can be closed since the pull request was merged

[2018-03-15 14:46] Hugovdberg commented on #225
Better performance shouldn't be an option, it should just be implemented right? ;-) Some checks for object types should be built in anyway to make this possible, so I would suggest we add a `tryCatch` to use `write_feather` first, and if it fails we can fallback to `base::save`. The cached objects are stored in a `data.frame` anyway so perhaps we can actually cache everything using `feather`.

I c

[2018-03-15 18:15] rsangole commented on #225
Always want better performance :+1:

If `cache` always stores `data.frame`, then `feather` is an excellent alternative.

Here is my benchmark comparison between `base::save` and `feather::write_feather` on my Intel Xeon 2.6Ghz, 128GB, with a Toshiba 2TB 7200 RPM SATA3 64MB Hard Drive which shows that `feather` is **18x** faster than `base` for 10mil rows [10x faster for 1mil rows]. You'll see simi

[2018-03-15 18:34] #223 closed

[2018-03-17 19:33] Hugovdberg commented on #225
I was just looking into using feather for the cache, but my proposed `tryCatch` solution would create a problem with loading from the cache. The cache should return items exactly as they were written to disk, but `read_feather` always returns a `tibble`.
Also, I was mistaken that all data is cached inside a `data.frame`, and even if it was it wouldn't help because the `feather` package only allows

[2018-03-17 19:52] Hugovdberg commented on #211
@maikol-solis it appears your question wasn't answered yet. Data from the `data` is loaded automatically based on the file extension (unless you have less common file type), there should be no need to load it manually in the `munge` scripts. If you have the option `cache_loaded_data` enabled the files are cached automatically.
If you have expensive munge scripts you might want to cache the results

[2018-03-18 18:33] KentonWhite commented on #225
This looks good.  If `feather` is an optional dependency, we will need a way to select `feather` or `rData` in the config, with `rData` the default.

[2018-03-20 00:04] maikol-solis commented on #211
@Hugovdberg Thank you very much for the information. I was confused about how to use the `cache` function. One more thing: how this function is aware of changes in data? I mean, if I re-run the munge scripts and re-create another clean data, do I have to call again the `cache` function or is it aware of the change?

[2018-03-20 10:03] Hugovdberg commented on #211
The cache function only writes to cache if the data in memory has changed from the data in the cache. At the moment the variable is always read from the cache, even if the original data file was changed. In that case you need to clear the variable from the cache and reload manually.

[2018-03-25 23:44] krlmlr opened #228 "Checking fails with current dev version of RSQLite"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

`R CMD check` succeeds with the dev version of *RSQLite*.

##### Current Behavior

Doesn't, fails with:

[code]

##### Steps to Reprodu

[2018-04-03 13:37] krlmlr commented on #228
RSQLite has been updated on CRAN, checks for ProjectTemplate fail now.

[2018-04-15 13:07] rsangole commented on #226
Pull request #229 addresses this issue.

[2018-04-16 14:15] AljoLe commented on #221
Hi @Hugovdberg and @KentonWhite,
I´m sorry for the late response, but we had other priorities in the last weeks, but I appreciate your work.
I downloaded the latest ProjectTemplate and tried to get the selective munging to work.
I added some entries in lib/globals.R
`add.config(
        QualityControl = FALSE,
        HeatmapsClustering = FALSE,
        Deconvolution = FALSE,
        IPA = FALSE,

[2018-04-17 07:16] Hugovdberg commented on #221
if you want to turn any of these options on dynamically you should change the call to `add.config` to include the option `apply.override = TRUE`, so in your example:

[code]
Then if you want to run for example the `Survival` munge scripts you can simply call `load.project(Survival = TRUE)`.

[2018-04-18 06:47] AljoLe commented on #221
Hi @Hugovdberg,
thank you for the fast response.
It works fine now. The only thing I have to note, is that reloading the project with just one munging script turned on gives the following output to console:
[code]

In this case only "DESeq" was turned on, but the script says, that ProjectTemplate is running all munging scripts, although they have the following statement in the beginning of the scr

[2018-04-18 07:43] Hugovdberg commented on #221
Technically all munge scripts are run, there is no way for `load.project` to detect whether it would be skipped. You could make it implement this yourself by adding an `else` clause to the script:

[code]

You could even format the message to make it stand out a little more clearly using the `crayon` package:

message(crayon::yellow(crayon::bold('Skip')))
[code]

[2018-04-20 16:01] KentonWhite commented on #228
Fixed and being submitted to CRAN

[2018-04-20 16:01] #228 closed

[2018-04-20 17:16] KentonWhite commented on #66
I'm closing this for now.  Please re-open if we need to continue this discussion!

[2018-04-20 17:16] #66 closed

[2018-04-20 17:30] KentonWhite commented on #210
I think users should always create a project outside of an existing project.  What would be the use case for nested projects?

[2018-04-20 17:30] KentonWhite commented on #209
v0.8 is pushed to the website.

[2018-04-20 17:30] #209 closed

[2018-04-20 17:33] KentonWhite commented on #220
I've sent collaborator invites.  This should give access to the project boards & wikis.  Please let me know if it doesn't.

[2018-04-20 17:33] #220 closed

[2018-04-21 00:57] rsangole opened #230 "Convert `ProjectTemplate` to `tidyverse`"

[2018-04-21 22:58] rsangole opened #231 "globals.R question"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [X] 3 - Low

##### Current Behavior

On creation of a new project, the `globals.R` shows:

[code]
Is this a bug, having add.config() repeated twice?

[2018-04-22 08:11] Hugovdberg commented on #210
Technically the custom templates are new projects, so if you happen to be in a project directory when you try to create a new template you get an error. The error is triggered even if the target directory is outside the current directory. A completely valid call to `create.template` will therefore fail if called from the wrong working directory.

[2018-04-22 08:27] Hugovdberg commented on #215
Since no further requests for change were recieved I assume we can close this issue.

[2018-04-22 08:27] #215 closed

[2018-04-22 11:09] rsangole commented on #231
Ah, thanks :)

[2018-04-22 11:12] rsangole commented on #210
I have faced this a few times. Today, have to go through the manual task of changing working dir first creating a new project someplace else, and then changing working dir back again.

[2018-04-22 12:44] KentonWhite commented on #210
So should this be fixed only form `create.template`?  Or fixing it for `create.template` also fixes it for `create.project`?

[2018-04-23 09:44] Hugovdberg commented on #210
I just realised we could probably alter `.stopifproject` to take a path as an argument, so that it can actually check the parent of the target directory instead of the current. That would fix both `create.project` and `create.template`.

[2018-04-23 13:02] AljoLe opened #233 "csv files are imported with stringsAsFactors although in config it is set to FALSE"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

Files, imported from /data while `load.project()` should be imported whith `stringsAsFactors = FALSE` when the statement is set to `FAL

[2018-04-24 08:26] AljoLe commented on #233
@KentonWhite Oh sorry I omitted that information.
sig.all is a csv file.
In the meantime I migrated my ProjectTemplate to the latest version and now everything is imported fine. Maybe I had the "wrong" file in cache and that was why it was always imported wrong.

I´m sorry to bother you with a bug, that is not there.

Best regards and thanks for your work.

[2018-04-24 09:42] #233 closed

[2018-04-24 13:28] KentonWhite commented on #191
OK -- closing this issue and it is referenced in #225.

[2018-04-24 13:28] #191 closed

[2018-04-24 13:32] Hugovdberg commented on #225
As mentioned in #191 we should investigate performance of `feather` and `fst` in relation to speed and compatibility with data types.

[2018-04-24 15:20] rsangole commented on #225
Agreed, thanks for bringing `fst` to this discussion.

A quick look at these packages leads me to state...

- `fst` is highly optimized for SSD disks. We should investigate if it has similar performance on non-SSD drives.
- Both `fst` and `feather` are intended for dataframes only
- `feather` allows the user to have interoperability with Python codes. Not sure if `fst` does as well

Why can't we s

[2018-04-24 17:44] rsangole commented on #210
When I was working on #234 , I found that `create.project()` has two calls to `.stopifproject` which seem redundant.

https://github.com/KentonWhite/ProjectTemplate/blob/8072e518c3b286aca862104ad36f2ca6bc0cfc62/R/create.project.R#L49-L54

The 1st call works fine and stops correctly. If the 1st call is commented out, the 2nd call does not work correctly and creates a project within a project.

Just

[2018-04-27 10:00] AljoLe commented on #215
Is it possible to neither use tibble, nor data.table?
With tibble you can´t set rownames, which is pretty important for some stuff in the bioconductor world and with data.tables you have two classes. Is it somehow possible to switch the conversion of both just off?

Best regards

[2018-04-27 10:19] AljoLe opened #235 "neither want to use data.table nor tibble. Can I turn both off?"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior
I want to choose which data frame should be transformed to a tibble

##### Current Behavior
Every dataframe is transformed to a tibble

[2018-04-27 10:44] #201 closed

[2018-04-27 11:35] Hugovdberg commented on #235
Currently it is not possible to disable the conversion to `tibble`. It was actually a conscious decision to implement it this way. The whole idea of `ProjectTemplate` is to build a framework that provides sensible defaults, with limited configuration possibilities (convention over configuration). I'm under the impression that the majority of people will not run into this issue you experience, and

[2018-04-27 11:37] Hugovdberg commented on #197
This should be fixed with the merge of #199, closing this issue.

[2018-04-27 11:37] #197 closed

[2018-04-27 11:39] AljoLe commented on #235
I agree with you and Hadley Wickham on the rowname issue, unfortunately the bioconductor packages didn´t hav this in mind. Maybe in the future.
Than I will add this mungescript as you suggest it.

Best regards

[2018-04-27 11:40] Hugovdberg commented on #156
Closing this since #159 was merged

[2018-04-27 11:40] #156 closed

[2018-04-27 11:43] Hugovdberg commented on #235
That's rather unfortunate indeed, let's hope the bioconductor people will fix this for you ;-) closing this issue for now.

[2018-04-27 11:43] #235 closed

[2018-04-27 16:05] #27 closed

[2018-04-27 16:05] #28 closed, assigned to nobody

[2018-04-27 16:06] #32 closed, assigned to nobody

[2018-04-27 16:06] #47 closed, assigned to nobody

[2018-04-27 16:06] #62 closed

[2018-04-27 16:06] #64 closed, assigned to krlmlr

[2018-04-27 16:07] #68 closed, assigned to krlmlr

[2018-04-27 16:07] #78 closed

[2018-04-27 16:07] #80 closed, assigned to nobody

[2018-04-27 16:07] #81 closed, assigned to Hugovdberg

[2018-04-27 16:07] #87 closed, assigned to nobody

[2018-04-27 16:08] #88 closed, assigned to krlmlr

[2018-04-27 16:08] #93 closed, assigned to nobody

[2018-04-27 16:08] #94 closed, assigned to nobody

[2018-04-27 16:09] #99 closed, assigned to nobody

[2018-04-27 16:09] #102 closed, assigned to krlmlr

[2018-04-27 16:09] KentonWhite commented on #115
Bumping this.  Still a good idea.  Anyone have the skills to work on this?

[2018-04-27 16:11] #127 closed, assigned to nobody

[2018-04-27 16:11] KentonWhite commented on #137
#187 should have solved this issue.  Closing.  Please re-open if the issue is still there.

[2018-04-27 16:11] #137 closed

[2018-04-27 16:12] KentonWhite commented on #144
Bumping this as it is a good idea.  Anyone with expertise that can work on this?

[2018-04-28 01:04] rsangole commented on #225
If we had to pick one, I would also pick `feather`. Apart from the `tibble` returned, I also enjoy the fact that it's cross-platform compatible, which enables data scientists to mix Python and R code efficiently. Since it's being developed by Wickham and McKinney, it'll enjoy long-term support too.

[2018-04-28 09:14] Hugovdberg commented on #225
I agree `feather` is probably the nicest, although I disagree with your argument that interoperability with Python is a pro. The cache isn't meant to be read by other programs.
I'm trying to get this to work but there are a few more hickups. The `is_tibble` function also returns true on `sf` objects (for spatial dataframes). But the `write_feather` will issue a warning and output an incomplete fil

[2018-04-28 09:35] Hugovdberg opened #236 "Feature request: Allow to pass custom arguments to the reader functions"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- feature request

***

##### Issue Severity Classification -

- 3 - Low

##### Expected Behavior

The arguments to a specific reader are available through the `file.reader`.

##### Current Behavior

All readers take the path to the data file and the variable to store the data as arguments. When a specific file needs

[2018-04-28 09:41] Hugovdberg opened #237 "Feature request: Add feather reader"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- 3 - Low

##### Expected Behavior

`.feather` files in the `data/` directory are loaded in memory.

##### Current Behavior

`.feather` files are ignored.

##### Possible Solution

[code]

[2018-04-28 09:49] Hugovdberg opened #238 "Feature request: Document internal functions"
A lot of internal functions are not documented at all. By documenting the functions it is easier to follow the thinking of other developers when reading a piece of code. Marking the functions as internal using `@keywords internal` allows the functions to be documented without adding an entry in the index. However, the documentation is available to both users and developers if they specifically req

[2018-04-28 11:25] Hugovdberg commented on #238
TODO:
- add roxygen documentation to each function
- add `@keywords internal`
- add `@rdname internal<functionname>` where `<functionname>` is replaced with the actual function name. This prevents errors because rd-filenames starting with a . are invalid.

[2018-04-28 16:48] Hugovdberg opened #240 "Cleanup old code"
While documenting all functions I discovered a few functions that seem to be unused anywhere. They are not called from other functions and are not exported into the namespace. I'm listing candidates for removal here, please comment to substantiate why we should keep them:

- [ ] `cache.name` in [R/cache.name.R](ProjectTemplate/R/cache.name.R)
- [ ] `.cache.status` in [R/cache.R](ProjectTemplate/R/

[2018-04-29 08:53] Hugovdberg opened #241 "Discussion: How many versions of R do we want to support?"
Currently we have custom functions because certain functionality was only introduced in "newer" versions of R. For example the `.list.files.and.directories` function that strips the `.` and `..` entries because the argument `no..` was not available in R 2.15.3 (the last version of the R 2.x series). R 3.0.0 was released in april 2013. Do we actually support versions this old and do we still want t

[2018-04-29 12:08] rsangole opened #242 "Q: How does one update the website?"
##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [X] 2 - Moderate
- [ ] 3 - Low

What are the steps to update the website when we add a feature to this package?

[2018-04-29 12:46] rsangole commented on #241
Good Q. I'd imagine there would be very few - if any - users still using the legacy 2.x code. The R community I have seen is quite quick to pick up and adopt the new releases, and then again, 3.x has been available since 2013.

If I had to make a call, I would not support R at 2.x.

[2018-04-29 12:48] rsangole commented on #242
Found the material under /docs/.

[2018-04-29 12:48] #242 closed

[2018-04-29 18:54] Hugovdberg commented on #241
Just an extra argument, this function `.list.files.and.dirs` was created specifically for two calls to `list.files` [in 2014](https://github.com/KentonWhite/ProjectTemplate/commit/333da5a93abebce79b0d274b70c888a8d2ede40c), I think we've waited long enough for R 2.x to be replaced with R 3.x.

[2018-04-30 08:00] Hugovdberg commented on #242
The `docs/` directory is automatically recognised by GitHub pages for the public website, that's also the reason we renamed the `doc/` directory to `docs/` about a year ago. If you upload your project on GitHub you can use the directory directly for your public documentation.

[2018-04-30 08:19] Hugovdberg opened #244 "Discussion: Force quality control"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [x] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

Currently everyone with write access to the repository can create commits directly on the master branch. I think we should set the GitH

[2018-04-30 13:29] KentonWhite commented on #225
Has this issue been raised with the `feather` maintainers?

I like checking that the result is the same.  A bit concerned that there will be a mixture of `.RData` and `feather` files in the cache.  But I'm OK with this construction.

[2018-04-30 13:36] KentonWhite commented on #236
There are some custom readers in the wild.  Changing the signature in this way may cause some trouble with the custom readers.  Could `setMethod` be used to preserve the original signature?

[2018-04-30 13:37] #237 closed

[2018-04-30 13:43] KentonWhite commented on #240
Agree to removing `cache.name` and  `.cache.status`.  Deprecating first sound like a good approach.

`unload.project` is used when testing the migration code.  I'm not yet sure if we want to remove the migration testing.  It served a purpose in the past (when we had some pretty major changes and needed to ensure that all migrations were done properly) and could be useful once again!

[2018-04-30 13:47] KentonWhite commented on #241
I also agree to stop supporting R at 2.x.  Lets add in notifications on the Github version that support for 2.x will be deprecated in a newer version.  I will do a minor point release when the feather caching is complete (assuming the feather caching doesn't break backward compatibility) and then plan a major point release in summer where 2.x is no longer supported.

[2018-04-30 14:37] rsangole commented on #225
@Hugovdberg this is actually from a usecase I face everyday within the same project. When working with large dataframes (10m+, 100m+ rows), R's interactive visualization methods (plotly, ggplotly etc) are painfully slow. This is an example of a workflow like:
* Save to feather in `cache/`
* Use Python code saved in `src/python/` to interact with data using `glueviz`

Another colleague does somethi

[2018-04-30 14:38] rsangole commented on #237
@Hugovdberg , any reason why we don't want to read feather files from `cache/`, or is it that conceptually, the "reader" functionality is being defined for the `data/` folder?

[2018-04-30 14:41] rsangole commented on #244
Yep, I agree 100%. This is very traditional of most high-traffic collaborative repositories. Like you said, it's not about distrust, but it does drive more eyes on a merge into the master code resulting not only in mistakes being identified but even helps drive standardization of the documentation & code base.

[2018-04-30 15:02] rsangole commented on #240
Not a function, but there's a 4year+ old TODO document which seems out of date.

- [ ] `TODO.markdown` at [ProjectTemplate/TODO.markdown](ProjectTemplate/TODO.markdown)

[2018-04-30 15:10] KentonWhite commented on #237
This is just setting on the `feather` reader.  The cache feature is still being developed!

[2018-04-30 15:13] KentonWhite commented on #244
Done!

[2018-04-30 15:15] KentonWhite commented on #240
I think it is safe to remove the `TODO.markdown` file since we are tracking issues now on GitHub!

[2018-04-30 15:29] rsangole commented on #237
Got it, thanks!

[2018-04-30 15:52] rsangole opened #245 "Internal - Complete COC & License"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

In the interest of completeness, I noticed that the project is missing two items listed <[here](https://github.com/KentonWhite/ProjectTemplate/community)>.

@Ke

[2018-04-30 15:56] KentonWhite commented on #245
I would follow the tidyverse lead.  What license are they using?

[2018-04-30 16:01] rsangole commented on #245
tidyverse uses GNU General Public License

[2018-04-30 20:59] Hugovdberg commented on #244
It appears that the forced check on Travis don't work. I added a new commit but it says "Waiting for status to be reported" and I don't see any tasks running in Travis.. @KentonWhite Did you change the requirements for the checks or is this an unrelated issue?

[2018-04-30 21:03] Hugovdberg commented on #241
https://community.rstudio.com/t/determining-which-version-of-r-to-depend-on/4396:

If we actually plan to convert to the `tidyverse` natively then we should follow the same goal of supporting R >= 3.1.

[2018-05-01 05:27] Hugovdberg commented on #244
It appears Travis still doesn't react to a new commit.

[2018-05-01 12:51] nate-d-olson opened #246 "Broken github link on ProjectTemplate website"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [ x] 3 - Low

##### Expected Behavior
Github icon links to https://github.com/kentonswhite/ProjectTemplate.

##### Current Behavior
Github icon should link to https://githu

[2018-05-01 12:57] Hugovdberg commented on #246
I made a fix for the broken link, it will be merged soon. Thanks for noticing!

[2018-05-01 12:57] #246 closed

[2018-05-01 13:51] KentonWhite commented on #241
Ok lets support R>= 3.1 as suggested.

[2018-05-01 13:53] KentonWhite commented on #244
It looked like the web hooks weren't communicating with Travis.  I've run some tests this morning and the web hooks are no working for me.  That doesn't mean they won't work for you!  I'll close this for now and if there is still a problem I'll raise an issue with GitHub support.

[2018-05-01 13:53] #244 closed

[2018-05-01 22:28] rsangole opened #249 "Delete TODO.markdown"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [ ] feature request
- [x] Other

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

All to-dos need to be documented in the 'Project section'

##### Current Behavior

We have an old [TODO.markdown](https://g

[2018-05-02 13:00] UTexas80 opened #251 "Data Directory Automatic .file Files Loading error"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [x] 2 - Moderate
- [ ] 3 - Low
[tbl_BannerCohorts.file.txt](https://github.com/KentonWhite/ProjectTemplate/files/1967317/tbl_BannerCohorts.file.txt)
[tbl_BannerCohorts.file.txt](https://github

[2018-05-02 13:08] rsangole commented on #251
@UTexas80 I don't see a `tbl.cancel.file` attached. Could you check again please?

[2018-05-02 13:12] KentonWhite commented on #245
I'm fine with the Tidyverse code of conduct.  Thanks @rsangole for asking!

[2018-05-02 13:13] KentonWhite commented on #240
Nice spot @rsangole.  Lets move the fix here as you suggest.

[2018-05-02 13:29] UTexas80 commented on #251
[tbl_BannerCohorts.file.txt](https://github.com/KentonWhite/ProjectTemplate/files/1967430/tbl_BannerCohorts.file.txt)

[2018-05-02 13:31] KentonWhite commented on #249
Issues in the TODO are either covered by current activities, fixed, or no longer appropriate.   Making a PR with the remove TODO file now.

[2018-05-02 13:32] UTexas80 commented on #251
Hi Rahul - Thank you for your prompt response. I apologize for the
oversight. I just attached the file and accidentally closed the issue but
reopened back open

On Wed, May 2, 2018 at 9:08 AM, Rahul S <notifications@github.com> wrote:

path: O:/IT/Scholarships Project/Files/tbl_BannerCohorts
extension: csv

[2018-05-02 13:35] #249 closed

[2018-05-02 13:36] KentonWhite commented on #210
Closing this now since the issue is moved to #240

[2018-05-02 14:37] KentonWhite commented on #251
@UTexas80 My first thought is that the file is called `tbl_Cancels.file.txt` and so might be read by the `txt` file reader.   Can you change the name to `tbl_Cancels.file` and see if the error message changes?

[2018-05-02 14:40] #245 closed

[2018-05-02 14:49] UTexas80 commented on #251
Hey Kenton - I have tried that approach but windows still references the file as .txt. In other words, after I remove the .file extension the properties of the file are still a text source file. I am unsure as to how to designate it as a .file File as specified in the Project Template documentation. Do you have a working example of one of these files?
Thank you.

[2018-05-02 14:57] rsangole commented on #251
@UTexas80 on a windows machine I think it's possible to remove/rename the extention but windows tries to be "clever" and keeps it in the back end. It's quite annoying. Have you ensured the file extention is truly being changed? There's an option through explorer I believe, or try doing it through command line.

[2018-05-02 15:01] KentonWhite opened #254 "Document Customer Readers"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

Customer Readers are packages that integrate with ProjectTemplate to load a specific file type.  I'm aware for a few, like my own for ElasticSearch and one for

[2018-05-02 15:06] UTexas80 commented on #251
Yes Rahul, I have absolutely removed the .file extension. Do you have an example of creating it through the command line? I did a google search but came up empty.

[2018-05-02 15:25] KentonWhite commented on #240
ok I'll reopen #210

[2018-05-02 15:27] shainen opened #255 "Feature Request: Move data import of csv data to "readr" functions (part of "tidyverse")"
Right now, ProjectTemplate automatically imports csv files with read.csv (the default function for this kind of thing from the "utils" package). It does irritating things like convert spaces in column names to periods.

Included in the "tidyverse" is the "readr" package, which has nicer functions to import rectangular data. For csv, there is read_csv. Since there is already momentum to make Projec

[2018-05-02 15:28] Hugovdberg commented on #254
I'm actually thinking we should add some vignettes to the project. Several of the readers have far too many options and examples for the normal documentation, and I think this would be a nice format to present some other concepts. A nice advantage of vignettes over the website documentation is that the vignettes work offline.

[2018-05-02 15:29] KentonWhite commented on #254
I've never created a Vignette.  Do you know how to do that?

[2018-05-02 15:32] Hugovdberg commented on #251
You should not remove the `.file` part but the `.txt` part instead. If the the file now is called `tbl_Cancels.txt` it will indeed be parsed by the `txt.reader` and not the `file.reader`. You can use the `list.data()` command in R to see al your data files and cached variables and an indication which reader is selected for the file.

[2018-05-02 15:34] Hugovdberg commented on #251
If you could paste the output of `list.data()` in the issue we can more effectively help you troubleshoot your problem.

[2018-05-02 15:37] Hugovdberg commented on #254
I have been playing a little with them, but until now didn't have the time to create a nice page that's worth uploading ;-) Perhaps I can make a getting started vignette from the website documentation.

[2018-05-02 15:39] rsangole commented on #254
That's a good idea @Hugovdberg . We should certainly create a few vignettes for this package. @KentonWhite I have created them before and they're quite easy to do, following Hadley's instructions at http://r-pkgs.had.co.nz/vignettes.html

[2018-05-02 15:42] rsangole commented on #255
@KentonWhite and @Hugovdberg , this has been on my mind for a while too, and I believe it'll be part of #230 at the very least. `read_csv` is certainly a lot better than `read.csv`: it's faster (5x-10x), handles columns better, and returns a tibble, among other things.

[2018-05-02 15:44] UTexas80 commented on #251
![image](https://user-images.githubusercontent.com/16102161/39533835-152b91a2-4dfe-11e8-9af1-ead21fcd4e15.png)
input                                               input.xls                        input      FALSE        FALSE
meta                                                 meta.xls                         meta      FALSE        FALSE
tbl.BannerCohorts                       tbl_BannerCohorts.t

[2018-05-02 16:25] Hugovdberg commented on #255
I agree we should move to the `tidyverse`, there is the issue of backward compatibility. This should definitely be something for the 1.0 version of `ProjectTemplate` because a lot of old scripts are going to fail.

[2018-05-02 16:37] Hugovdberg commented on #236
I'm thinking we could perhaps do some inspection of the arguments in `add.extension` using the `formals` function. If an old style reader is passed it can raise a warning and wrap the reader in a closure with the correct arguments. I haven't tried it yet, but we could do some interface changes as we move to version 1.0.

[2018-05-02 16:37] KentonWhite commented on #236
That sounds too cool!

[2018-05-02 16:40] #210 closed

[2018-05-02 17:26] rsangole commented on #251
@UTexas80 you need to call `list.data()` to run the function. `list.data` will only print the function itself.

[2018-05-02 17:44] UTexas80 commented on #251
My apologies...

![image](https://user-images.githubusercontent.com/16102161/39539835-d4d624a8-4e0e-11e8-885a-8a5d152da215.png)

                                                     filename                      varname is_ignored is_directory
tbl.BannerCohorts                      tbl_BannerCohorts.file            tbl.BannerCohorts      FALSE        FALSE
input

[2018-05-02 18:00] Hugovdberg commented on #251
Ah I guess I see what's going wrong now, so you have the `tbl_BannerCohorts.file` which points at a file in another location. That file is read correctly but now the `path` setting inside that file points to a file without the extension:

[code]

If you add the file extension to the `path` variable (which could differ from the extension in the `extension` setting) then the `file.reader` should be

[2018-05-02 18:14] UTexas80 commented on #251
# YES!!!!!
That's so awesome. That did the trick. Thank you very much!

[2018-05-02 18:30] #251 closed

[2018-05-02 18:56] rsangole opened #257 "Question - install from github"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

On the home page, the github install is

    install_github('johnmyleswhite/ProjectTemplate')

Yet, right now, we are in the package 'kentonwhite/projecttemplat

[2018-05-02 20:04] KentonWhite commented on #257
Its changed.  Thanks for seeing that!

[2018-05-02 20:04] #257 closed

[2018-05-02 20:39] Hugovdberg commented on #238
Documentation was added with #243, closing this issue.

[2018-05-02 20:39] #238 closed

[2018-05-02 20:48] Hugovdberg commented on #236
A small proof of concept:
[code]

[2018-05-02 21:08] Hugovdberg commented on #236
Ok, so after adding some explanation, the proof of concept grew a little bigger. The main point of adding two old functions is to show that references to the functions are correctly stored in the closures.

[2018-05-02 21:17] Hugovdberg commented on #230
Ok, I'll do this in steps, it appears I can't write this proposal all in one go..

A large part of the R community, among which I suspect a large part of the ProjectTemplate users, are migrating to the `tidyverse` packages by Hadley Wickham. A major advantage of these packages is their uniform interface to functions (like the convention to always take data as a first argument) in combination with

[2018-05-03 13:36] KentonWhite commented on #236
Cool!  And the idea is that we flag it as deprecated for now.  We should also suggest that the user contact the reader maintainer to fix the interface.

[2018-05-03 14:00] rsangole commented on #230
Thanks for getting this kicked off. As I think of things, I'll append too.

One thing that I'd like to consider is using `assertive` as the pipe-able tool of choice to writing robust unit tests. If you haven't used it before, give it a go. It's a very expressive and `tidyverse` friendly package.

[2018-05-03 16:17] Hugovdberg commented on #230
@rsangole I haven't used `assertive` yet, but I would say that changing the tests is something to be done with much care. We should NOT convert library functions to `tidyverse` while at the same time changing the tests. If `assertive` is a great improvement over `testthat` then we should either:
1. build a complete set of redundant tests and only after all existing cases are covered remove the old

[2018-05-04 01:45] rsangole opened #258 "Feature request - use_package call"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

An easy console driven method to quickly add libraries to `global.dcf`, which would utilize autocomplete for the package names.

#####

[2018-05-04 14:31] KentonWhite commented on #258
This would be very handy!  Please keep in mind the CRAN policy:

[2018-05-04 17:32] rsangole commented on #258
@KentonWhite it's interesting they have this policy when tools like `devtools` write to a file in the user's home filespace, and tools like `clipr` write to the user's clipboard.

[2018-05-04 18:17] Hugovdberg commented on #258
I think the user issuing this command with the sole intent of writing to the system would fall under the exceptions. It's not like it's a possibly unexpected side effect.
This feature needs thorough testing though, we want to very sure we don't loose any settings made by the user. We might even mark it as experimental in the documentation so people will use it with caution. If we don't receive any

[2018-05-04 18:18] KentonWhite commented on #258
I agree.  The simplest way to be compliant is ask the user for confirmation before making the change :)

[2018-05-04 19:46] rsangole commented on #258
Pseudocode:

- User calls `add_package()`
- Check if package exists in `global.dcf`
  - If yes, inform user. Take no action. Done.
  - If no, ask user for consent to modify `global.dcf`
    - If yes, write to file
    - Optional if `verbose = TRUE`, print new `global.dcf` to console for visual confirmation of change

[2018-05-04 19:49] rsangole commented on #258
To extend this logic and help ease workflow, I can also think of other `global.dcf` modifiers along the lines of `munge_on()`, `munge_off()`, `loaddata_on()`, `loaddata_off()`, `loadcache_on()`, `loadcache_off()` etc. You get the idea.

[2018-05-05 05:53] sdrakulich opened #259 "Check and install missing packages on load.project()"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [X ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [X ] 3 - Low

##### Expected Behavior

A repository I move between systems works seamlessly when load.project() is executed.

##### Current Behavior

It fails to load packa

[2018-05-05 14:57] Hugovdberg commented on #259
Hmm, I just noticed that all warnings generated inside `require.package` are currently hidden. Perhaps @KentonWhite can shine a light on why he coded it that way, it might be that it obscures the problem @sdrakulich experiences.

[2018-05-05 15:00] sdrakulich commented on #259
First, I apologize for not using search.

Now that that's out of the way, I think I know what the problem is. The way I'm executing, there is no default repository set. If I could pass that argument globally to just default to the CRAN one, that should make this work under my infrastructure (Atom-editor with R-enabled functionality through jupyter lab).

[2018-05-05 15:06] Hugovdberg commented on #259
Ah, but you don't get the request to select a repository? And do you get that request when manually installing a package? Because if that request is somehow hidden as an effect of using `require.package` as a wrapper around `install.packages` then we should try and fix that of course.

[2018-05-05 15:11] sdrakulich commented on #259
Can I just reply to the email?
Anyways, this is the error I get. I'm missing the last package in my load
sequence.

Project name: XXX

On Sat, May 5, 2018 at 11:06 AM, Hugo van den Berg <notifications@github.com

[2018-05-05 18:27] KentonWhite commented on #259
We can unquiet warnings in `require.package`.  It was added to minimize the amount of information when installing packages.  It may be helpful for debugging.  I'll make a quick PR.

[2018-05-05 19:46] rsangole commented on #258
@KentonWhite I wanted to make separate pipable verbs which will work well in the `tidyverse` work flow sense. These will be more human readable and quicker to type in the console. For example:

[code]

[code]

[code]

[2018-05-05 22:34] rsangole commented on #258
In my 2nd example:
[code]
I want to be able to take actions on the `dcf` file _after_ running `reload_project()`. Thus, I envisioned this type of piping to enable lazy evaluation. The piping is to build a sequence of actions desired; each pipe will enable a build up for the sequence. At the very end of the pipe, the sequence will be executed.

I also think the pipe makes code much more readable th

[2018-05-06 12:01] Hugovdberg commented on #258
But how would the last function in the chain know it is the last function? Put differently, if every function passes the full config, how would each function know whether to write the config to disk or not? The pipe operator is just a nice syntactic sugar for this:

[code]
There is nothing magical going on to pass knowledge about functions inside or outside the current function.

I think a better

[2018-05-06 12:03] Hugovdberg commented on #258
It's not to say I don't like the idea, but the added value of the piping construction is not clear to me. But if you have an elegant solution then I'm open for it :-) I realise I can be a bit stubborn and strongly opinionated at times ;-)

[2018-05-06 12:05] Hugovdberg commented on #258
Also, we should add a `template` argument to the `update.config` function, which defaults to `NULL` for the current project, so you can edit the config in one of your templates so all future projects from that template use the new settings.

[2018-05-06 12:47] KentonWhite commented on #259
Warnings are unquieted in `require.package`.

@sdrakulich can you reinstall `ProjectTemplate` from GitHub using `install_github('KentonWhite/ProjectTemplate')`, rerun your project and repost the errors and warnings please.

[2018-05-09 01:20] rsangole commented on #258
@Hugovdberg , I always up for a debate over ideas; if my ideas can pass the muster of smarter folks like you two, then I know it's a good idea. Keep it coming!

I don't know, tbh. In my head, things are still at a conceptual level - I haven't put thought into the actual code structure yet. While I truly (deeply) love pipes, I can agree that your proposal of:

[code]
achieves the intent of my needs

[2018-05-23 15:21] UTexas80 opened #264 "data.frames not converting to data.tables"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ x] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

 Using the global.dcf in the configs folder, I  expect my data.frames which are defined in the data folder to be converted into data.

[2018-05-24 12:04] KentonWhite commented on #264
Can you clarify something for me please?  When you say "data.frames which are defined in the data folder " do you mean that a data.frame is saved in the data folder as an RData file?  Or do you mean that an .R script in the data folder creates the data.frame?

[2018-05-25 13:09] KentonWhite commented on #264
The flag `data_tables: TRUE` is for data structures that ProjectTemplate creates, like loading csv files or importing from a sql database.  When you run your own script in the data folder, the output is saved in the format created in the script.  So in your case, since the tblPrice is constructed as a data.frame, it will remain a data.frame — ProjectTemplate won't convert it.  If you need it as a

[2018-05-25 13:09] #264 closed

[2018-05-25 13:17] UTexas80 commented on #264
Thank you Kenton. Chalk it up to my newbie status. Live and learn.
Take care,
Glen

On Fri, May 25, 2018 at 9:09 AM, Kenton White <notifications@github.com>
wrote:

[2018-05-30 09:48] jflanaga opened #265 "Test throws Errors if Context(file-name.R) not added"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x ] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

test.project() returns same information as `expect_that`.

##### Current Behavior
test.project() returns `Error in x[[method]](...) :

[2018-05-30 14:13] KentonWhite commented on #265
It looks like a proper `testthat` test should always start with `context()`.  What I can do here is modify the example `test/1.R` to include the context file.  Would that help?  I could add a global `context("ProjectTemplate")`, but this goes against the idea of `context()`, which is grouping tests together.  Do you have an opinion for why a global context would make sense?

[2018-05-30 16:35] jflanaga commented on #265
I'm still trying to get my head around what a proper `testthat` test should look like, so I don't have an opinion about it. I think your initial proposal makes sense.

[2018-05-31 13:00] Hugovdberg commented on #265
Perhaps a `context("Example tests")` would be better. This makes extra clear the file is initially just used for examples. People can always change it afterwards. The context `ProjectTemplate` suggests it contains tests for the actual `ProjectTemplate` functionality.

On a side note, `expect_that` is deprecated, you should use `expect_equal(1+1, 3)` in your case, or one of the other more explicit

[2018-06-01 18:05] KentonWhite commented on #265
Updated example test to use `testthat` best practices.

[2018-06-01 18:05] #265 closed

[2018-06-01 18:39] Hugovdberg commented on #259
@sdrakulich Could you please tell us if the error still occurs and what warnings you see after installing the latest version from github?

[2018-06-04 11:13] eribul opened #267 "Suggestion for readme ni data folder"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Current Behavior

I always tend to forget how to specify the options in the .file that can be stored in the data folder (is it path or file, is it format

[2018-06-19 17:22] KentonWhite commented on #267
@eribul Nice idea.  I've made the changes and should be on master soon.

[2018-06-19 17:22] #267 closed

[2018-06-19 17:27] KentonWhite commented on #259
Haven't heard that the error still persists.  Closing for now.  If this error still is happening please reopen.

[2018-06-19 17:27] #259 closed

[2018-06-29 08:12] Hugovdberg opened #270 "Variable name appended instead of overwritten"
**Stub bugreport, will append to later.**

While changing the reader signature a bug was introduced that the sheetnames were incrementally appended to the variable name, instead of to the workbook name. So a file `File.xlsx` with sheets `Sheet1` and `Sheet2` resulted in variable names `File.Sheet1` and `File.Sheet1.Sheet2`.

[2018-08-15 03:40] jeromyanglim opened #271 "Make tibble optional"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [* ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [* ] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

In version 0.8.2, data.frames are automatically converted to tibbles.
Tibbles are not always compatible with functions that expect da

[2018-08-15 11:57] Hugovdberg commented on #271
Could you please provide some specific test cases that break when using a `tibble` instead of a `data.frame`? Currently none of our tests fail, which lead us to believe no problems were introduced by the change.

[2018-08-16 14:59] KentonWhite commented on #271
Easiest way forward could be a flag set in `global.dcf` for tibbles.  Default can be tibbles.  Would this help your case @jeromyanglim?  Thoughts from others?

Some background — ProjectTemplate is meant to be somewhat opinionated.  Recently we've started moving towards the tidyverse as an opinionated way of doing things.

But....  Opinionated doesn't mean "on rails".  Our opinion is meant to guide

[2018-08-16 23:46] jeromyanglim commented on #271
A tibble option in global.dcf sounds like a great resolution to me.

A few other more minor considerations to think about:

### Backwards compatability
I also think backwards compatibility is a consideration.
So for example, my suggestion would be, assuming `global.dcf` gets something like `as_tibble`

* If there is no `as_tibble` in the config, assume `as_tibble = FALSE`.
* If running `migrate.pr

[2018-08-21 04:01] jeromyanglim opened #272 "ProjectTemplate and backward compatibility for existing projects"
I think that ProjectTemplate should be a solid and reliable basis for building data analysis projects.

If a user creates a project with a set of data import functions in place, we don't want that data analysis project to break six months or a year later because the data import rules have changed. We want ProjectTemplate to be a solid basis for building projects. For many years, ProjectTemplate ha

[2018-08-22 06:21] jeromyanglim opened #273 "Consider removing "cache" from .mandatory.files"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ *] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [ *] 3 - Low

##### Expected Behavior
If you choose not to cache data, then you do not need to have a cache directory.
Thus, I have sometimes not included that directory in

[2018-08-22 10:05] Hugovdberg commented on #273
I agree that `cache` isn't necessary if caching is disabled in the config. On the other hand the logic becomes quite a lot more complicated if we make the mandatory files dependent on the current config.
Isn't this fixed for you by running `migrate.project` on the current project? I guess you also get a warning your project configuration is outdated since this change to mandatory files was already

[2018-08-22 10:40] Hugovdberg commented on #271
It is indeed a lengthy discussion, but apart from dropping dimensions, but I haven't seen a concrete example of a function that breaks when passed a `tibble` instead of a `data.frame`, besides the (in my opinion mistaken) dropping of dimensions.
I'm still not convinced that `tibble` shouldn't be the default, even for existing projects. But a separate option to disable `tibble` is probably a good w

[2018-08-23 10:53] jeromyanglim commented on #273
You don't get the warning about updating the config version.

For example, I took an existing project that had a version 0.6 config file and deleted the cache directory. You get the following message:

[code]

........

As an aside, if you've noticed my flurry of questions. I just updated my laptop so presumably, I've been running an older version of ProjectTemplate for quite a while. That's why I

[2018-08-24 17:57] KentonWhite commented on #271
What looks to be a better solution is replace the config variable `data_tables` with a `tables_type` variable that can take the arguments `data_frame`, `data_table`, or `tibble`.  Default would be `tibble`.  Not only is this cleaner, will allow a way to support backwards compatibility when the new hotness is introduced.

Thoughts?

[2018-08-26 05:29] jeromyanglim commented on #271
Providing three options to such an argument makes a lot of sense to me. I presume, datasets can't be data tables and tibbles at the same time.

It seems a bit like stringsAsFactors. It's something that you want the config file to make consistent and remove ambiguity about.

My vote would be that when migrating old config files or running old config files, it should try to stay consistent with prev

[2018-08-27 19:00] KentonWhite commented on #271
Doh!  I made tibbels default when migrating old projects.  Yes it makes better sense to make data frames default when migrating old projects.  Will update the PR.  Thanks for the catch!

[2018-08-27 19:11] KentonWhite commented on #273
I think adding the cache file should be handled in the migrate script.  When running `migrate.project` if a mandatory file is missing, a warning should be given and the mandatory file added.  Thoughts?

[2018-08-31 14:27] Hugovdberg opened #276 "Rebuild cache if the underlying data changed"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [x] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

When a file in `data/` is changed but the resulting variable exists in the cache the file is not reloaded.

##### Current Behavior

Cur

[2018-08-31 14:32] KentonWhite commented on #276
I like if the cache can tell if the file has changed.  This should make workflow easier.   The only edge case I can see are researchers working with unstable data and using the cache to capture a particular state they are working with now.

[2018-08-31 15:51] Hugovdberg commented on #276
This could actually be improved by this change, because if you cache the files once and then set `data_loading = FALSE, cache_loading = TRUE` in the config or in your call to `[re]load.project()` the files are loaded from the cache, or you could even exclude certain volatile files with `data_ignore`.
I think we should consider those researches who have volatile data in `data/` but which should not

[2018-09-07 17:39] #273 closed

[2018-09-14 05:20] hcyvan opened #277 "Error in order(data.files$cache_only, data.files$filename, data.files$varname, :"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [x] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

Project name: pcNetwork
Loading project configuration
Autoloading packages
 Loading package: dplyr
 Loading package: stringr
Autoloadin

[2018-09-14 05:53] Hugovdberg commented on #277
From this error it appears `order` or at least the sitting method is not
Unicode safe. I will have a look at the ordering mechanism, I do recall
there was a specific reason for the current sorting method.

Op vr 14 sep. 2018 07:20 schreef 程一航 <notifications@github.com>:

[2018-09-14 06:55] hcyvan commented on #277
order(c(3,2,1), method='radix') have the same problem, However order(c(3,2,1)) works well

[2018-09-14 14:03] KentonWhite commented on #277
Thanks @Hugovdberg for looking into this.  The documentation says that the default "auto" uses "radix" for short numeric vectors, integer vectors, logical vectors and factors. Otherwise it uses "shell".    The biggest difference between "shell" and "radix" is that "radix" uses the [local comparison](https://www.rdocumentation.org/packages/base/versions/3.5.1/topics/Comparison). while "shell" uses

[2018-09-14 15:16] Hugovdberg commented on #277
Well it appears, there are two locations where the data is ordered, once within `list.data` and once in `.load.data` (part of `load.project`). @hcyvan could you please call `list.data()` to see if you get the error?
`list.data` uses the auto method, while `.load.data` specifies "radix".

Also, I cannot reproduce the error using this example:
[code]
Could you please post your version of R, `Project

[2018-09-14 21:23] rsaavy opened #278 "Help: using projecttemplate R within RStudio: Microsoft Azure Data Science VM"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [x ] 1 - Severe
- [ ] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior

##### Current Behavior

I am just trying to get the project template starting thing to work but I am unable to get it to work.
##### S

[2018-09-14 21:29] Hugovdberg commented on #278
You shouldn't call `load.project` from within the data directory. Try `setwd('~/letters')` without the trailing slash, it's the only thing I can imagine why you couldn't change the directory (you didn't add the slash after data). If you really can't change the working directory to the root directory of the project then I cannot imagine it's a `ProjectTemplate` error but rather an Rstudio or Azure

[2018-09-15 03:00] hcyvan commented on #277
Thanks @KentonWhite  and @Hugovdberg for your reply. According to your suggestion, I find that only one of my computer have this problem.
### PC1:

[code]
[code]
### PC2
[code]
[code]

I will check the `order` problem then. :)

[2018-09-15 05:03] hcyvan commented on #277
When I update R from 3.5 to 3.2, ProjectTemplate works well.

[2018-09-15 08:17] #277 closed

[2018-09-17 21:39] rsaavy commented on #278
thank you

[2018-09-17 21:40] #278 closed

[2018-09-25 14:24] bugsysiegals opened #279 "Spelling - Main README.md"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ X] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [X ] 3 - Low

##### Expected Behavior

* Loading any R packages you listed in the configuration file.

##### Current Behavior

* Loading any R packages you listed in he con

[2018-09-25 18:34] KentonWhite commented on #279
Thanks @bugsysiegals  We'll make the correction soon.  If you would like, you could make a pull request with the correction made.  Let me know if you'd like some help making a pull request!

[2018-09-25 18:58] bugsysiegals commented on #279
No problem.  Unfortunately I'm a newbie to GIT and am not sure how to do that for you but would be happy to if you can explain.

BTW, thanks for all the time you've put into this!!  Do you have some sort of messenger I could ping you about a few questions I have?

[2018-09-25 19:17] bugsysiegals opened #280 "Clear objects from the workspace - deleted cached files - no such file or directory"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [X ] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [X ] 1 - Severe
- [ ] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior
Files should load from cached folder, if exists, or data folder and recreate cached objects.

##### Current Behavior
I get the followi

[2018-09-25 19:19] KentonWhite commented on #279
Working on correcting documents is a great way to start!  On the GitHub website, find the file where the error is (you could probably use the search feature).  Once there, click on the edit link (this is a little pencil icon in the upper right corner).  Make your changes and fill in at the bottom what the change was (like, corrected spelling mistake).  This will create a fork in your account.  The

[2018-09-25 19:40] bugsysiegals commented on #280
I actually ran that command but I still have the error.  I will try to rename the project and then recreate with the original name and see if that resolves the issue.

[2018-09-25 19:48] bugsysiegals commented on #280
I renamed the directory.  Created a project with the original name in the original location.  Copied my config and data files.  Tried to load the project but it gives me the same error.  Are the files I previously loaded stored in a file somewhere so I can delete the entries and reload?  I didn't know I couldn't delete the cached files ... next time I'll use the cache clear function.

[2018-09-25 20:02] bugsysiegals commented on #280
Disregard, I figured out the issue.  I had zip files in my data directory to keep file size down for integrating version control.  The zip file names were long so I renamed them; however, the file inside had the original name.  The program must use the zip file name to look for the unzipped file and this will fail whenever the two are not the same.  Perhaps it could get the name as it opens the zi

[2018-09-25 20:38] #280 closed

[2018-09-25 20:52] bugsysiegals commented on #279
Looks like you merged one of the README.md files ... there's 1 from each template.  Will close this issue as soon as the other is merged.

[2018-09-25 20:54] #279 closed

[2018-09-26 20:10] bugsysiegals commented on #276
In order to tell the if a file is changed, can we just compare the modified data of the file with the creation date of the cache file?  I believe I seen another "Reproducible Research" project which used makefile in this way to only process specific files.

[2018-09-26 20:16] bugsysiegals commented on #230
Any ETA on how far off this is from realization?  I've had to rewrite a bunch of code because the field names being imported are now with a dot between them, which may not be a bad option, but would be nice to import without doing this to avoid a lot of code rewrite.  I don't have a huge amount of extra time but if there's anything I can do to help, let me know.

[2018-09-26 20:21] bugsysiegals commented on #276
Rather than implementing this into the cache function wouldn't it be better to implement directly into the loading function to automate this process?  Perhaps a yes/no question could be asked to allow the user to not load the new file...

[2018-09-26 20:26] KentonWhite commented on #230
A ways off.  There are issues with backwards compatibility.  Not every project is tidyverse compliate.  Bioconductor, which represents a large user base from the biological sciences, are not tidyverse compliant.  Moving everything over to tidyverse causes problems for those users.

[2018-09-26 23:11] bugsysiegals commented on #276
Excellent points, thanks for the clarity.

From an automation standpoint, one would simply call clear.cache() prior to load.project() for a full reload?

Perhaps someday another function could be added or parameter could be passed into load.project which compares files. It’s not critical but would allow a person to possibly automate E2E and produce results as quickly as possible without needing to

[2018-09-26 23:16] KentonWhite commented on #276
Yes call `clear.cache()` before `load.project()`.  What I do is call clear.cached with datasets I expect will be updated.  I'll often make a call to a database.  It's difficult for ProjectTemplate to tell if the database has changed, so I'll call `clear.cache()` with the name of the dataset read from the database.    In an automated workflow the database is refreshed and everything else stays the

[2018-09-26 23:52] bugsysiegals commented on #276
Yes it would really only benefit those who are pulling in files.  I'll also be trying to connect to DB's where possible but of course will have to rely on some files.  At the end of the day, a few extra minutes to load data isn't going to matter unless I'm sitting there watching it load and getting impatient! :)

[2018-09-27 05:56] Hugovdberg commented on #276
`load.project` also has a `reset` argument which clears the cache when set
to `TRUE`.

I agree with @KentonWhite that simply using modification date is tricky.
Also, I think, using cache in the reader could make the cache and data
loading simpler in `load.project`.

Op do 27 sep. 2018 01:52 schreef bugsysiegals <notifications@github.com>:

[2018-10-09 04:27] eribul opened #284 "Accept project without cache dir"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [?] bug report
- [?] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

If the global/config.dcf file states that cache is not used, it might not be necessary to have a cache folder.

##### Current Behavior

[2018-10-11 20:19] KentonWhite commented on #284
HI @eribul, this is an interesting thought.  In the `global.dcf` there are 2 cache flags:  `cache_loading` and `cache_loaded_data`.  I'm assuming for this conversation you are referring to `cache_loading` and that if `cache_loading` is set to FALSE you aren't using the cache directory.  I'm also assuming that you have manually removed the cache directory.  If I'm missing something please let me kn

[2018-10-18 10:53] eribul commented on #284
Hi agin!
Yes, I had removed it manually for a project without any data of its own (usnig data from SQL database and just exporting a report).
I agree! To create the cahce folder with a message sounds great :-)

[2018-11-02 10:38] eribul opened #285 "Loading data with space in name"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

Load data by `load.project()`.
Data files with space in file name loaded correcty.

##### Current Behavior

Files recognized to exist b

[2018-11-02 10:43] eribul commented on #285
Sorry! I don't think that was the problem!

[2018-11-02 10:43] #285 closed

[2018-11-26 19:43] KentonWhite commented on #284
Hi @eribul,

I've been checking edge cases associated with removing the `cache` directory.  Not having a `cache` directory _may_ interfere with other features.  Caching is very much integrated with `ProjectTemplate` going forward.  I also recognize that sometimes the `cache` directory is removed!  The error message coming from `.stopifnotproject` could be very confusing if the cache directory is m

[2018-11-27 12:17] #284 closed

[2019-01-28 13:56] AljoLe opened #288 "false cache entry from autoloading data"
#### Report an Issue / Request a Feature
Autoloading data creates a cache entry with the name `data` instead of the name of the dataset

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [x] 2 - Moderate
- [ ] 3 - Low

##### Expected Behavior
`load.project()` creates a cache entry fo

[2019-01-28 15:03] Hugovdberg commented on #288
What type of file are you trying to load? The `.ACC` is not supported, and should normally not be printed. The cached name is determined by detecting which new variables are created by the reader. So we need to know which reader is causing this. Could you post the complete filename that's causing this issue?

[2019-01-28 15:56] AljoLe commented on #288
Hi @Hugovdberg,
the name of the file is ``tcga.ACC.RData` and `list.data()`is showing:
[code]
I already tried `tcga_ACC.RData`, but PT is converting it to `tcga.ACC`anyway.

Best regards,
@AljoLe

[2019-01-31 13:47] AljoLe commented on #209
I'm sorry for hijacking this issue, but I think my question is relevant to this.
Is it somehow possible to ignore special files in `cache/`?
If I understand the documentation `Mastering ProjectTemplate` right, the names fo files in `cache/` are matched to the files in `data/`, in order to ignore these files, when `data_ignore` is set to a specific pattern. What happens when there are no correspond

[2019-01-31 13:58] KentonWhite commented on #209
@AljoLe That use case makes a lot of sense.  The expectation is that `data_ignore = ...` should *not* load data, even if it is cached.  Would you mind opening a bug report for this issue please?

[2019-01-31 14:45] AljoLe commented on #209
@KentonWhite Yes, i will open a bug report for this

[2019-01-31 14:52] AljoLe opened #289 "data_ignore does not ignore cached files"
#### Report an Issue / Request a Feature
`data_ignore` does not ignore cached files.
If you cache files which need excessive computation prior caching and you don't have a file in `data/` with the same name, you can't use `data_ignore` in order to ignore them while loading a project.

example:
ESCA_se is an entity of cancer samples from The Cancer Genome Atlas and there are 33 of them. The downloa

[2019-02-12 09:10] Hugovdberg commented on #288
Ah, now I see what's going on, the variable name is initially determined by ProjectTemplate from the filename. However, `.RData` files are simply loaded into the global environment, and therefore ignore this initial variable name. Apparently your `tcga.ACC.RData` contains a variable called `data`, and therefore that's the name that's used for caching.

After loading the data any new variables in t

[2019-02-14 16:16] #289 closed

[2019-03-08 16:19] shainen opened #292 "more informative error for typo in "depends" list"
In the "depends" list in the "cache" function, when I put in a variable that does not exist (generally by accident), the error I get is
"Error in if (nrow(depends.hash) >= 1) { : argument is of length zero"

Unless you know the mistake you've made, its hard to tell from this error message that you've made a typo in the your "depends" variables. Would probably save some head scratching if the error

[2019-03-27 15:03] KentonWhite commented on #292
I don't think this is possible.  The cache code calls `eval` on the code in the curly braces.  `eval` doesn't have error trapping capabilities.  That is, it doesn't return a string with any errors it encountered.  Instead if there is an error, the error is thrown by `eval`, which is what you are seeing.

@connectedblue would you have any thoughts on how to trap errors in the cache function?

[2019-03-28 20:42] connectedblue commented on #292
Hi all

It's been a while since I wrote R code - I've spent the last 9 months in
back in python (where funnily enough I had to also write some caching
utilities).

However, I'll put this on my to do list to have a look at. I vaguely
remember some error trapping techniques in a project somewhere.

On Wed, 27 Mar 2019, 15:03 Kenton White, <notifications@github.com> wrote:

[2019-04-08 14:04] metanoid opened #293 "Clear explanation of where/how to use Notebooks (Rmd) with ProjectTemplate"
#### Report an Issue / Request a Feature

I'm submitting a :
- [x] feature request

***

##### Issue Severity Classification -

- [x] 3 - Low

##### Expected Behavior
If I have an R Notebook (.Rmd) in the `/reports` subfolder or the `/src` subfolder, and in that document I call

[code]
then this should load the project.

##### Current Behavior

Calling the exact same code from a `.R` file and a `.

[2019-04-09 23:57] KentonWhite commented on #293
That's a good idea @metanoid!  I'm traveling for the next couple of weeks.  If you are feeling ambitious, could you try making the changes to `load.project()` and submitting a PR please?

Traversing the directory tree is a cool idea — basically if `load.project()` is run in a subdirectory of a project it will traverse up the tree and uses whatever project it finds.  This could be useful in many si

[2019-08-02 13:48] KentonWhite commented on #293
Hi @metanoid, I'm working on this now (sorry it has taken so long — just a low priority).  If I understand from your original post, the reason a `.R` file works and a `.Rmd` file doesn't work is that RMarkdown runs in the parent directory?  Can you explain this a bit more?

For example, if you are in the `ProjectTemplate` directory and you run `source('reports/test.R')` that it works because sourc

[2019-08-06 09:19] metanoid commented on #293
Hi @KentonWhite!

Yes, that's correct.  For context, when I say "run an Rmd file" I mean this:
* Opening the Rmd file in RStudio, and then clicking the `Preview` or `Knit` button in RStudio.

Doing so runs all the code in the Rmd file from the parent directory of that file.

So, if that file is in the `<project_home_dir>/reports` directory, and that file calls `load.project()`, the reason this fai

[2019-08-06 22:02] chrissem commented on #293
Hi @KentonWhite.

As a workaround you can set the `knitr` `root.dir` within a setup cell. If your `.Rmd` file is in `<project_home_dir>/reports` this works fine:

[code]

[2019-08-07 06:42] metanoid commented on #293
Oh, this is clever, I like that!  Thanks!

I think this is a good solution.

[2019-08-07 12:41] davidski commented on #293
Could this issue remain open? I use notebooks quite a bit and would like to cleanly use them in subdirectories with projecttemplate. Manually coding the working directory into each notebook is brittle and moves away from reproducibility. A solution that integrates rprojroot or similar pseudo-chroot functionality would be terrific!

[2019-08-07 14:55] metanoid commented on #293
How about this:

[code]

That way I think you get the best of both worlds: @chrissem 's solution of using `knitr` 's built-in tools for directory handling, plus `ProjectTemplate` doesn't have to take an additional dependency, plus the reproducibility benefits of `rprojroot`.  It means you'll have to put this boilerplate at the top of your notebooks, though.

[2019-08-08 14:35] davidski commented on #293
That requires a lot of fiddling to existing and future notebooks for something that could be addressed by having ProjectTemplate loosen it's assumptions about the current working directory, allowing notebooks as first class citizens and arguably being (IMHO) a more rugged design. It may not be the direction this project (no pun intended 😉 ) wishes to go, but having notebooks "just work" is a key r

[2019-08-09 15:50] KentonWhite commented on #293
Thanks everyone.  I really would like ProjectTemplate to support notebooks.  At this point I think the way forward is temporarily changing the working directory for ProjectTemplate to load the data into memory.  Once the data is loaded, change back to the original working directory.

I don't use Notebooks much myself.  What I will do is create a branch.  I'm thinking calling it Notebook, I will pu

[2019-08-15 07:18] eribul opened #295 "Missing spaces in warning"
Just missing some spaces in a warning.

Current:

[code]

Hence "librarydigestinto" should probably be "library digest into" (perhaps a use of `paste` instead of `paste0` or similar)

[2019-08-20 06:29] Hugovdberg commented on #295
This is probably because the `...` argument to `warning` takes "zero or more objects which can be coerced to character (and which are pasted together with no separator) or a single condition object.". The leading and trailing text should therefore end and start with a space.

[2019-09-09 23:31] #295 closed

[2019-09-26 05:45] eribul opened #298 "quite/verbose option in `run.project`"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [ ] bug report
- [x] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

I have a lot of files in `/src`.
When I run them all (`run.project`) the output gets very messy since the same information repeats from

[2019-09-28 13:27] KentonWhite commented on #298
I think we looked at implementing quiet messages before — I can't really recall.  I'll put this into the queue to look at and see if it is possible.

[2020-01-07 00:07] mkrasmus opened #299 "Quotes used to wrap the path for dbname value in sql file returns error"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

When following [the guide](http://projecttemplate.net/mastering.html) to add a path to the philapd.db file I created in PhilaPD/databas

[2020-01-07 00:23] mkrasmus opened #300 "Mastering guide should show 'load.project' step prior to stub.tests()"
#### Report an Issue / Request a Feature

I'm submitting a (Check one with "x") :
- [x] bug report
- [ ] feature request

***

##### Issue Severity Classification -

(Check one with "x") :
- [ ] 1 - Severe
- [ ] 2 - Moderate
- [x] 3 - Low

##### Expected Behavior

When following [the guide](http://projecttemplate.net/mastering.html) on unit testing the flow of script should include load.project()

[2020-01-07 14:15] KentonWhite commented on #299
Should be an easy fix.  Will queue it up.

[2020-01-07 14:17] KentonWhite commented on #300
Might be a change to how TestThat runs.  I can update the guide and also look at the internals if anything has changed.